{% if album %}
<div class="item-wrapper">
    <div id="thing-{{ file.hash }}" class="thingiviewer" data-object="{{ cdn_url(original) }}"></div>
</div>

{% else %}

{% if file.title and not embedded %}
    <h3>{{ file.title }}</h3>
{% endif %}

<div id="thing-{{ file.hash }}" class="thingiviewer" data-object="{{ cdn_url(original) }}"></div>

{% if file.description and not embedded %}
    {{ file.description | safe }}
{% endif %}


{% endif %}

<script type="text/javascript">
window.addEventListener('load', function() {
    thing = ThreeDeePlayer("thing-{{ file.hash }}")
}, false);
</script>
