.audio a {
    outline: none;
}
.audio {
    width: 700px;
    height: 42px;
    background: rgba(50, 50, 50, 0.8);
}
.controls .pull-left {
    float: left;
    width: 80px;
}
.controls .pull-right {
    float: right;
    width: 160px;
}
.audio .controls {
    height: 32px;
    line-height: 32px;
    padding: 5px;
    margin-left: 170px;
}
.controls .time {
    position: relative;
    top: -9px;
    font-weight: bold;
    color: #fff;
}
.audio .seek {
    margin-left: 80px;
    margin-right: 160px;
    margin-top: 8px;
    position: relative;
    height: 16px;
}
.audio .seek .bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    cursor: pointer;
}
.audio .seek .unbuffered {
    width: 100%;
    height: 50%;
    top: 25%;
    background: transparent;
}
.audio .seek .buffering {
    background: #888;
    height: 50%;
    top: 25%;
}
.audio .seek .progress {
    background: #fff;
    height: 100%;
}
.audio .seek .indicator {
    width: 2px;
    height: 150%;
    background: #fff;
    box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.3);
    position: absolute;
    top: -25%;
    margin-left: -1px;
}
.control {
    width: 32px;
    height: 32px;
    background: url('/static/controls.png') 0 0 transparent no-repeat;
    display: inline-block;
}
.control.pause {
    background-position: -32px 0;
}
.control.mute {
    background-position: -64px 0;
}
.control.unmute {
    background-position: -96px 0;
}
.control.loop {
    background: url('/static/repeat-dim.png') 0 0 transparent no-repeat;
    margin-left: 5px;
}
.control.loop.enabled {
    background: url('/static/repeat.png') 0 0 transparent no-repeat;
}
.volume {
    display: inline-block;
    width: 80px;
    height: 16px;
    position: relative;
    top: -8px;
    background: #444;
    cursor: pointer;
}
.volume .amount {
    background: #fff;
    height: 100%;
    pointer-events: none;
}
h1.brand {
    position: relative;
    text-shadow: 1px 1px 5px #666, 1px 1px 5px #666, 1px 1px 5px #666;
    font-size: 16pt;
    line-height: 45px;
    margin-top: -2px;
    margin-left: 5px;
    float: left;
}
.brand a {
    color: #fff;
}
.brand a:hover {
    text-decoration: none;
}
.brand a span {
    float: left;
    position: relative;
    margin-top: 8px;
    margin-right: 5px;
    width: 32px;
    height: 32px;
}
.brand a span img {
    position: absolute;
    top: 0;
    left: 0;
}
