<a href="{{ share('directlink', filename) }}">
    <img id="img-{{filename}}" src="/{{ original }}" alt="MediaCrush" id="image" />
</a>
<script type="text/javascript">
window.addEventListener('load', function() {
    var image = document.getElementById('img-{{filename}}');
    var dupe = document.createElement('img'); // Duplicate image so that CSS sizing and such doesn't affect the resolution
    dupe.onload = function() {
        document.title = "MediaCrush (" + dupe.width + "x" + dupe.height + ")";
    };
    dupe.src = image.src;
}, false);
</script>
