{% if album %}
<div class="item-wrapper">
    <a href="{{ share('directlink', filename) }}" target="_blank" id="img-a-{{ filename }}">
        {% if processor.startswith('image/') %}
            {# This means that we have custom support for this type, with the full mimetype and all #}
            <img id="img-{{filename}}" src="/{{ original }}" alt="MediaCrush" />
        {% else %}
            <img id="img-{{filename}}" src="/{{ filename }}.png" alt="MediaCrush" />
        {% endif %}
    </a>
    <div class="bar">
        <a class="left" href="/{{ filename }}">Direct Link</a>
        <a class="right" href="/download/{{ original }}">Download</a>
    </div>
</div>
{% else %}
<a href="{{ share('directlink', filename) }}" id="img-a-{{ filename }}">
    {% if processor.startswith('image/') %}
        {# This means that we have custom support for this type, with the full mimetype and all #}
        <img id="img-{{filename}}" src="/{{ original }}" alt="MediaCrush" />
    {% else %}
        <img id="img-{{filename}}" src="/{{ filename }}.png" alt="MediaCrush" />
    {% endif %}
</a>
{% endif %}
<script type="text/javascript">
function mediaSizeReporter() {
    var img = document.getElementById('img-{{filename}}');
    return { width: img.width, height: img.height };
}
function resizeMedia(x, y) {
    var img = document.getElementById('img-{{filename}}');
    img.width = x;
    img.height = y;
}
window.addEventListener('load', function() {
    if (window.album) {
        document.querySelector('#img-a-{{ filename }}').href = '/{{ filename }}';
        return;
    }
    var image = document.getElementById('img-{{filename}}');
    var dupe = document.createElement('img'); // Duplicate image so that CSS sizing and such doesn't affect the resolution
    dupe.onload = function() {
        document.title = "MediaCrush (" + dupe.width + "x" + dupe.height + ")";
    };
    dupe.src = image.src;
}, false);
</script>
