<div class="video">
    <video id="video-{{ filename }}" {% if autoplay and not mobile %}autoplay {% endif %}{% if loop %}loop {% endif %}>
        <source src="/{{ filename }}.mp4" type='video/mp4;'>
        <source src="/{{ filename }}.ogv" type='video/ogg; codecs="theora, vorbis"'>
    </video>
    <div class="hover">
        <h1 class="brand">
            <a href="/" target="_blank">
                <span>
                    <img src="/static/logo-bg.png" class="bg" alt="logo" />
                    <img src="/static/logo-fg.png" alt="logo" />
                </span>
            MediaCrush</a>
        </h1>
        <div class="side">
            <a href="#" class="control loop {% if loop %}enabled{% endif %}" data-video="video-{{ filename }}">Loop</a>
        </div>
        <div class="controls">
            <div class="pull-left">
                {# Play/pause and current time #}
                <a href="#" class="control {% if autoplay %}pause{% else %}play{% endif %}" data-video="video-{{ filename }}"></a>
                <span class="time" data-video="video-{{ filename }}">0:00</span>
            </div>
            <div class="pull-right">
                {# Volume and full screen #}
                <a href="#" class="control mute" data-video="video-{{ filename }}"></a>
                <div class="volume" data-video="video-{{ filename }}">
                    <div class="amount" style="width: 100%;"></div>
                </div>
                <a href="#" class="control full" data-video="video-{{ filename }}"></a>
            </div>
            <div class="seek" data-video="video-{{ filename }}">
                {# Seeking
                   "unbuffered" is a 100% wide thing that's just there to seek with
                   "buffered" is as wide as the video has buffered
                   "progress" is as wide as the video has played
                   "indicator" is as left as the video has played #}
                <div class="bar unbuffered"></div>
                <div class="bar buffering"></div>
                <div class="bar progress" style="width: 0%;"></div>
                <div class="indicator" style="left: 0%;"></div>
            </div>
        </div>
    </div>
    {% if not autoplay %}
    <a href="#" class="control play large" data-video="video-{{ filename }}"><img src="/static/play-large.png" /></a>
    {% endif %}
</div>
{% if videologic is not defined %}
{% set videologic = True %}
<style>
.video a {
    outline: none;
}
.video {
    position: relative;
}
.fullscreen.video {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
}
.fullscreen.video video {
    width: 100%;
    height: 100%;
}
.fullscreen ~ .row {
    display: none;
}
.video .hover {
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: opacity 0.3s linear;
    padding: 10px;
}
.video:hover .hover {
    opacity: 1;
}
.video .controls {
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    background: rgba(50, 50, 50, 0.8);
    height: 32px;
    line-height: 32px;
    padding: 5px;
}
.fullscreen.video .controls {
    bottom: 0;
}
.controls .pull-left {
    float: left;
    width: 80px;
}
.controls .pull-right {
    float: right;
    width: 155px;
}
.controls .time {
    position: relative;
    top: -9px;
    font-weight: bold;
    color: #fff;
}
.video .seek {
    margin-left: 80px;
    margin-right: 155px;
    margin-top: 8px;
    position: relative;
    height: 16px;
}
.video .seek .bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    cursor: pointer;
}
.video .seek .unbuffered {
    width: 100%;
    height: 50%;
    top: 25%;
    background: transparent;
}
.video .seek .buffering {
    background: #888;
    height: 50%;
    top: 25%;
}
.video .seek .progress {
    background: #fff;
    height: 100%;
}
.video .seek .indicator {
    width: 2px;
    height: 150%;
    background: #fff;
    box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.3);
    position: absolute;
    top: -25%;
    margin-left: -1px;
}
.video .side {
    position: absolute;
    right: 10px;
    top: 10px;
}
.video .side .loop {
    display: block;
    width: 64px;
    height: 64px;
    text-align: center;
    color: #888;
    opacity: 0.8;
    border-radius: 10px;
    text-decoration: none;
    background: url('/static/repeat.png') no-repeat 16px 24px #333;
    transition: box-shadow 0.3s linear;
}
.video .side .loop.enabled {
    box-shadow: 0 0 5px 5px #fff;
    color: #fff;
}
.control {
    width: 32px;
    height: 32px;
    background: url('/static/controls.png') 0 0 transparent no-repeat;
    display: inline-block;
}
.control.pause {
    background-position: -32px 0;
}
.control.mute {
    background-position: -64px 0;
}
.control.unmute {
    background-position: -96px 0;
}
.control.full {
    background-position: -160px 0;
}
.control.window {
    background-position: -128px 0;
}
.volume {
    display: inline-block;
    width: 80px;
    height: 16px;
    position: relative;
    top: -8px;
    background: #444;
    cursor: pointer;
}
.volume .amount {
    background: #fff;
    height: 100%;
}
.control.play.large {
    background: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
.control.play.large img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -128px;
    margin-left: -128px;
}
h1.brand {
    position: relative;
    text-shadow: 1px 1px 5px #666, 1px 1px 5px #666, 1px 1px 5px #666;
    font-size: 16pt;
    line-height: 45px;
    margin-top: -5px;
    margin-bottom: 10px;
}
.brand a {
    color: #fff;
}
.brand a:hover {
    text-decoration: none;
}
.brand a span {
    float: left;
    position: relative;
    margin-top: 8px;
    margin-right: 5px;
    width: 32px;
    height: 32px;
}
.brand a span img {
    position: absolute;
    top: 0;
    left: 0;
}
</style>
<script type="text/javascript">
    window.addEventListener('load', function() {
        if (!window.localStorage.volume) {
            window.localStorage.volume = 1;
        }
        var controls = document.querySelectorAll('.video .control');
        for (var i = 0; i < controls.length; i++) {
            controls[i].addEventListener('click', controlClick, false);
        }
        var videos = document.querySelectorAll('video');
        for (var i = 0; i < videos.length; i++) {
            videos[i].addEventListener('ended', function(e) {
                if (!e.target.loop) {
                    pause(e.target);
                }
            }, true);
            videos[i].addEventListener('progress', updateVideo, false);
            videos[i].addEventListener('timeUpdate', updateVideo, false);
        }
        var buffers = document.querySelectorAll('.seek .buffering, .seek .progress, .seek .unbuffered');
        for (var i = 0; i < buffers.length; i++) {
            buffers[i].addEventListener('click', handleSeek, false);
        }
        var volumes = document.querySelectorAll('.volume, .volume .amount');
        for (var i = 0; i < volumes.length; i++) {
            var amount = volumes[i].querySelector('.amount');
            if (amount)
                amount.style.width = (window.localStorage.volume * 100) + '%';
            volumes[i].addEventListener('mousedown', beginAdjustVolume, false);
            volumes[i].addEventListener('mousemove', adjustVolume, false);
            volumes[i].addEventListener('mouseup', endAdjustVolume, false);
            volumes[i].addEventListener('mouseleave', endAdjustVolume, false);
        }
    }, false);
    function beginAdjustVolume(e) {
        e.preventDefault();
        var container = e.target;
        if (e.target.className.indexOf('volume') == -1)
            container = e.target.parentElement;
        container.classList.add('action');
    }
    function endAdjustVolume(e) {
        var container = e.target;
        if (e.target.className.indexOf('volume') == -1)
            container = e.target.parentElement;
        container.classList.remove('action');
    }
    function adjustVolume(e) {
        e.preventDefault();
        var container = e.target;
        if (e.target.className.indexOf('volume') == -1)
            container = e.target.parentElement;
        if (container.className.indexOf('action') == -1)
            return;
        var video = document.getElementById(container.dataset.video);
        var amount = e.layerX / container.clientWidth;
        video.volume = amount;
        window.localStorage.volume = amount;
        container.querySelector('.amount').style.width = (amount * 100) + '%';
    }
    function handleSeek(e) {
        e.preventDefault();
        var container = e.target.parentElement;
        var video = document.getElementById(container.dataset.video);
        var seek = video.duration * (e.layerX / container.clientWidth);
        console.log(seek);
        video.currentTime = seek;
    }
    function updateVideo(e) {
        var video = e.target;
        var buffer = document.querySelectorAll('.seek[data-video="' + video.id + '"] .buffering')[0];
        var progress = document.querySelectorAll('.seek[data-video="' + video.id + '"] .progress')[0];
        var indicator = document.querySelectorAll('.seek[data-video="' + video.id + '"] .indicator')[0];
        var time = document.querySelectorAll('.time[data-video="' + video.id + '"]')[0];
        buffer.style.width = video.buffered.end(video.buffered.length - 1) / video.duration * 100 + '%';
        progress.style.width = indicator.style.left = video.currentTime / video.duration * 100 + '%';
        var minutes = Math.floor(video.currentTime / 60);
        var seconds = Math.floor(video.currentTime % 60);
        if (seconds < 10)
            time.textContent = minutes + ':0' + seconds;
        else
            time.textContent = minutes + ':' + seconds;
    }
    function controlClick(e) {
        e.preventDefault();
        var target = e.target;
        if (!target.className)
            target = target.parentElement;
        var video = document.getElementById(target.dataset.video);
        if (target.className.indexOf('play') != -1) {
            play(video);
            if (target.className.indexOf('large') != -1)
                target.parentElement.removeChild(target);
        } else if (target.className.indexOf('pause') != -1) {
            pause(video);
        } else if (target.className.indexOf('loop') != -1) {
            video.loop = !video.loop;
            if (video.paused)
                play(video);
            if (target.className.indexOf('enabled') != -1)
                target.classList.remove('enabled');
            else
                target.classList.add('enabled');
        } else if (target.className.indexOf('unmute') != -1) {
            video.muted = false;
            target.classList.remove('unmute');
            target.classList.add('mute');
        } else if (target.className.indexOf('mute') != -1) {
            video.muted = true;
            target.classList.remove('mute');
            target.classList.add('unmute');
        } else if (target.className.indexOf('full') != -1) {
            video.parentElement.classList.add('fullscreen');
            target.classList.remove('full');
            target.classList.add('window');
        } else if (target.className.indexOf('window') != -1) {
            video.parentElement.classList.remove('fullscreen');
            target.classList.remove('window');
            target.classList.add('full');
        }
    }
    function play(video) {
        var playbackControl = document.querySelectorAll('a.control.play[data-video="' + video.id + '"]')[0];
        playbackControl.classList.remove('play');
        playbackControl.classList.add('pause');
        video.play();
    }
    function pause(video) {
        var playbackControl = document.querySelectorAll('a.control.pause[data-video="' + video.id + '"]')[0];
        playbackControl.classList.remove('pause');
        playbackControl.classList.add('play');
        video.pause();
    }
</script>
{% endif %}
