<div class="player video">
    <video id="video-{{ filename }}" {% if flags['autoplay'] %}autoplay="true" {% endif %}{% if flags['loop'] %}loop="true" {% endif %}>
        {% if 'video/mp4' in types %}
        <source src="/{{ filename }}.mp4" type='video/mp4;'>
        {% endif %}
        {% if 'video/webm' in types %}
        <source src="/{{ filename }}.webm" type='video/webm;'>
        {% endif %}
        {% if 'video/ogg' in types %}
        <source src="/{{ filename }}.ogv" type='video/ogg'>
        {% endif %}
        <p>Looks like you should visit our <a href="/troubleshooting">troubleshooting</a> page.</p>
    </video>
    <div class="controls {% if flags['mute'] %}muted{% endif %}">
        <a href="#" class="icon play-pause play" data-icon="&#xF16C;"></a>
        <div class="seek">
            <div class="background"></div>
            <div class="loaded"></div>
            <div class="played"></div>
            <div class="clickable"></div>
        </div>
        <div class="right">
            {% if not flags['mute'] %}
            <span class="toggleable volume">
                <span class="icon" data-icon="&#xF03B;"></span>
                <div>
                </div>
            </span>
            {% endif %}
            <a href="#" class="icon fullscreen disabled"></a>
            <span class="toggleable settings">
                <span class="icon" data-icon="&#xF04E;"></span>
                <div>
                    <div><a href="#" class="loop"><span class="text">Loop ON</span><span class="icon loop" data-icon="&#xF0B2;"></span></a></div>
                    {#<div><a href="#" class="subtitles">Subtitles<span class="icon subtitles" data-icon="&#xF030;"></span></a></div>#}
                    <div><a href="/download/{{original}}" class="download">Download<span class="icon" data-icon="&#xF0BD;"></span></a></div>
                </div>
            </span>
        </div>
    </div>
</div>
