[meta]
environment = dev

[dev]
domain = mediacru.sh

debug-host = 0.0.0.0
debug-port = 5000

storage_folder = storage
max_processing_time = 60

# Hooks allow the site to rebuild itself when there's a commit to the repository
# POST github-style hook messages to /hook/ to update
# Only these IP (ranges) will be allowed. By default, we use localhost and the
# GitHub hook IPs.
# The site will `git pull` and then execute restart_command
hook_ips = 204.232.175.64/27,192.30.252.0/22,127.0.0.1
hook_branch = master
hook_repository = GifQuick/GifQuick
restart_command = supervisorctl reload

redis-ip = 127.0.0.1
redis-port = 6379

secret_key = !!CHANGEME!!

bytes_per_hour = 250000000

google_analytics_id = UA-00000000-0
google_analytics_domain = gifquick.net

# Make sure you use the 120x600 "skyscraper" ad format
adsense_client = CHANGEME
adsense_slot = CHANGEME

dwolla_id = changeme
flattr_id = changeme
coinbase_id = changeme

mandrill_api = changeme
admin_email = changeme@changeme.com
from_email = admin@mediacru.sh

docs_path = /home/service/webapps/MediaCrush/docs/
