{% extends "layout.html" %}
{% block scripts %}
<script src="{{ url_for('static', filename='lib.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='history.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='app-mobile.js') }}" type="text/javascript"></script>
{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='home-mobile.css') }}">
{% endblock %}
{% block content %}
<div class="upload-ui">
    <div class="padded">
        <a href="#" class="button" id="upload">Tap to Upload</a>
    </div>
    <div id="blurb">
        <p>We make your media files load super fast by reducing the file size, without
        sacrificing quality. You can upload images, videos, and audio.</p>
    </div>
    <div id="files" class="hidden">
        <h2>Files</h2>
    </div>
    <form class="hidden">
        <input type="file" id="browse" />
    </form>
</div>
<div class="hidden" id="history">
    <h2>Recent Uploads</h2>
</div>
{% endblock %}
{% block feedback %}{% endblock %}
