{% extends "layout.html" %}
{% block mobile_responsive %}
{% if processor.startswith('image') %}
<meta name="viewport" content="width=device-width, user-scalable=yes" />
{% else %}
<meta name="viewport" content="width=device-width, user-scalable=no" />
{% endif %}
{% endblock %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='view-mobile.css') }}" />
{% endblock %}
{% block content %}
<div class="media-wrapper">
    <div class="media">
        {% include fragment %}
    </div>
</div>
<div class="center small clearfix">
    <ul class="inline">
        <li><a href="/{{ filename }}/direct">Direct Link</a></li>
        <li><a href="/download/{{ original }}">Download</a></li>
        <li><a href="#" id="report">Report</a></li>
    </ul>
</div>
<script type="text/javascript">
window.addEventListener('load', function() {
    var report = document.getElementById('report');
    report.addEventListener('click', function(e) {
        e.preventDefault();
        var parent = document.getElementById('report').parentElement;
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/report/{{ filename }}');
        xhr.send();
        parent.innerHTML = "Reported";
    }, false);
}, false);
</script>
{% endblock %}
{% block feedback %}{% endblock %}
