.item {
    max-width: 1000px;
}

audio {
    width: 1000px;
    padding-top: 23px;
}

#items {
    text-align: center;
}

.item-wrapper div {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.item-wrapper .bar {
    position: absolute;
    height: 23px;
    background: rgba(111,111,111,0.8);
    top: -23px;
    left: 0;
    right: 0;
    transition: top 0.15s linear;
}

.item-wrapper div:hover .bar {
    top: 0;
}

.item-wrapper .bar {
    color: #fff;
}

.item-wrapper a{
    color: #fff;
}

.item-wrapper a.red {
    color: rgb(148,0,0);
}

.left {
    float: left;
    padding-left: 5px;
}

.right {
    float: right;
    padding-right: 5px;
}

.pagination {
    list-style: none;
    text-align: center;
    font-size: 14pt;
}

.pagination li {
    display: inline-block;
    border: 1px solid #ccc;
    border-right: none;
    min-width: 34px;
}

.pagination li.selected a {
    color: #000;
}

.pagination a, span {
    padding: 0 5px;
    font-weight: bold;
}

.pagination a:hover {
    text-decoration: none;
}

.pagination li:hover, .pagination li.selected {
    background: #eee;
}

.pagination li.smart-pagination:hover {
    background: #fff;
}

.pagination li:first-child {
    border-radius: 3px 0 0 3px;
}

.pagination li:last-child {
    border-right: 1px solid #ccc;
    border-radius: 0 3px 3px 0;
}

.pagination .wrapped {
    display: none;
}

.pagination.unwrapped .wrapped {
    display: inline;
}

.pagination.unwrapped .smart-pagination {
    display: none;
}
