body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    text-align: justify;
}

.logo {
    float: left;
    position: relative;
    margin-top: 8px;
    margin-right: 5px;
    width: 32px;
    height: 32px;
}

.logo img {
    position: absolute;
    top: 0;
    left: 0;
}

.sidebar h1 {
    margin: 0;
}

.overlay {
    background: #000;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.6;
}

.overlay img {
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 5px;
    right: 130px;
}

.overlay span {
    position: absolute;
    font-size: 14pt;
    color: #fff;
    right: 5px;
    bottom: 10px;
}

.wrapper {
    width: 1012px;
}

.container {
    width: 1012px;
    padding: 5px;
}

.content {
    width: 1012px;
    padding: 5px;
    position: absolute;
}

.content .column {
    float: left;
}

#lgad {
    display: none;
    text-align: center;
}

@media (min-width: 1000px)  {
    .wrapper, .container {
        margin: 0 auto;
    }
}
@media (max-width: 1000px), (max-height: 700px) {
    #gad {
        display: none;
    }
    #lgad {
        display: block;
    }
}
@media (min-height: 800px) {
    .content {
        margin-top: -325px;
        top: 50%;
    }
}

#droparea {
    border-radius: 5px;
    border: 1px solid #888;
    height: 640px;
    width: 590px;
    background: #fff;
    box-shadow: 0 0 10px 1px #999 inset;
    padding: 5px;
}

#droptext {
    width: 100%;
    margin-top: 300px;
    text-align: center;
}

@media (max-height: 800px) {
    #droparea {
        height: 320px;
    }
    #droptext {
        margin-top: 150px;
    }
}

@media (max-width: 800px) {
    #droparea, .dropcolumn {
        width: 300px;
        margin-right: 10px;
    }
    .wrapper, .content, .container {
        width: auto;
    }
}

.sidebar {
    width: 270px;
    padding: 10px;
}

#gad {
    width: 120px;
    height: 620px;
    text-align: center;
}

#gad > div {
    width: 120px;
    height: 600px;
}

/* Mostly stolen from Twitter bootstrap */
.progress {
    height: 8px;
    width: 50%;
    position: absolute;
    bottom: 0;
    background-color: #149bdf;
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 40px 40px;
    -webkit-animation: progressbar 1s linear infinite;
    animation: progressbar 1s linear infinite;
}

.progress-green {
    background-color: #5eb95e;
}

.image-loading {
    clear: both;
    margin-bottom: 5px;
    border: 1px solid #888;
    background: white;
    border-radius: 5px;
    height: 112px;
    overflow: hidden;
    position: relative;
}

.image-loading:last-child {
    margin-bottom: 0;
}

.image-loading h2, .image-loading p {
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.img-wrapper {
    float: left;
    width: 200px;
    margin-right: 10px;
}

.image-loading .img-wrapper img {
    max-width: 200px;
    max-height: 113px;
}

.image-loading .img-wrapper video {
    max-width: 200px;
    max-height: 113px;
}

.clearfix {
    clear: both;
}

a {
    color: #08c;
    text-decoration: none;

}

a:hover {
    color: #005580;
    text-decoration: underline;
}

.small {
    font-size: 10pt;
}

.error {
    color: red;
    font-size: 10pt;
}

@-webkit-keyframes progressbar {
    from {
        background-position-x: 0px;
    }
    to {
        background-position-x: 39px;
    }
}

@keyframes progressbar {
    from {
        background-position-x: 0px;
    }
    to {
        background-position-x: 39px;
    }
}

.row .left {
    float: left;
}

.row .right {
    float: right;
    text-align: right;
}

.row .middle {
    float: left;
    margin-left: 40px;
    margin-top: 150px;
    text-align: center;
}

.row .item {
    float: left;
    width: 333px;
    height: 43px;
    line-height: 43px;
}
