{% extends "layout.html" %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='album.css') }}" />
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        window.album = true;
        window.filename = '{{ filename }}';
        window.files = {{ files | tojson | safe }};
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='album.js') }}"></script>
    {% if subtitles %}
    <script type="text/javascript" src="{{ url_for('static', filename='libjass.js') }}"></script>
    {% endif %}
{% endblock %}
{% block meta %}
    <meta name="robots" content="noindex">
{% for item in [ items[0] ] %}
{% set type = item.processor %}
    <meta property="og:type" content="{{ mimetype }}" />
    <meta property="og:site_name" content="MediaCrush" />
    {% if type.startswith("video") %}
        <meta property="og:image" content="{{ root }}/{{ item.hash }}.jpg" />
        <meta property="twitter:card" content="player" />
        <meta property="twitter:title" content="MediaCrush" />
        <meta property="twitter:description" content="A video shared with MediaCrush." />
        <meta property="twitter:image" content="https://mediacru.sh/{{ item.hash }}.jpg">
    {% elif type.startswith("audio") %}
        <meta property="og:image" content="https://mediacru.sh/static/audio.png" />
    {% else %}
        <meta property="og:image" content="https://mediacru.sh/{{ item.original }}" />
        <meta name="twitter:card" content="photo">
        <meta name="twitter:image" content="https://mediacru.sh/{{ item.original }}">
    {% endif %}
{% endfor %}
{% endblock %}
{% block content %}
<div class="dialog hidden album-pending">
    <div>
        <h2>We're making you a zip</h2>
        <p>It takes a little while to put this together. We'll let you know when it's ready.</p>
        <div class="buttons">
            <button class="no blue">Dismiss</button>
        </div>
    </div>
</div>
<div class="album-header">
    <h2 class="center album">{% block album_header %}Album - {{ len(items) }} files{% endblock %}</h2>
    {% block layout %}{% endblock %}
    <a href="#" id="album-download">Download Album</a>
</div>

{% block album %}{% endblock %}

{% include "advertisement.html" %}
{% endblock %}
