{% extends "layout.html" %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='view.css') }}?version=2" />
{% endblock %}
{% block content %}
<h2 class="center">Album - {{ len(items) }} files</h2>

<div class="album">
    {% for hash in items %}
    <div class="media-wrapper">
        <div class="media">
            {{ render_media(hash) | safe }}
        </div>
    </div>
    <div class="clearfix"></div>
    {% endfor %}
</div>

<script>
window.album = true;
</script>

{% for type in types %}
{{ type_files(type) | safe }}
{% endfor %}

{% endblock %}
