{% extends "layout.html" %}
{% block styles %}
    {% if mobile %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='view-mobile.css') }}?version=2" />
    {% else %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='album.css') }}?version=2" />
    {% endif %}
{% endblock %}
{% block meta %}
{% for item in [ items[0] ] %}
{% set mimetype = get_mimetype(item.original) %}
    <meta property="og:type" content="{{ mimetype }}" />
    <meta property="og:site_name" content="MediaCrush" />
    {% if mimetype.startswith("video") or mimetype == "image/gif" %}
        <meta property="og:image" content="https://mediacru.sh/{{ item.hash }}.png" />
        <meta property="twitter:card" content="player" />
        <meta property="twitter:title" content="MediaCrush" />
        <meta property="twitter:description" content="A video shared with MediaCrush." />
        <meta property="twitter:image" content="https://mediacru.sh/{{ item.hash }}.png">
    {% elif mimetype.startswith("audio") %}
        <meta property="og:image" content="https://mediacru.sh/static/audio.png" />
    {% else %}
        <meta property="og:image" content="https://mediacru.sh/{{ item.original }}" />
        <meta name="twitter:card" content="photo">
        <meta name="twitter:image" content="https://mediacru.sh/{{ item.original }}">
    {% endif %}
{% endfor %}
{% endblock %}
{% block content %}
<h2 class="center">Album - {{ len(items) }} files</h2>
<div class="center small clearfix">
    <ul class="inline">
        <li><a href="#" id="embed-link">Embed</a></li>
        {# <li><a href="/{{ filename }}/download">Download</a></li> TODO zip up the album for them #}
        <li><a href="#" id="report">Report</a></li>
        <li class="{% if can_delete == 'check' or can_delete == False %}hidden{% endif %}"><a href="#" class="red" id="delete">Delete</a></li>
    </ul>
</div>
<div class="hidden" id="embed">
    <div class="center">
        <p>Copy this HTML and paste it into your website:</p>
        <input id="embed-value" type="text" value='&lt;iframe src="https://mediacru.sh/{{ filename }}/frame" frameborder="0" allowFullscreen></iframe>' class="selectall" />
        <p>Are you a developer? You might want to read our <a href="/docs">developer documentation</a>.
        Albums are best embedded with <a href="/docs/mediacrush.js">mediacrush.js</a>.</p>
    </div>
</div>

<div class="album">
    {% for hash in items %}
    <div class="media-wrapper">
        <div class="media">
            {{ render_media(hash, album=True) | safe }}
        </div>
    </div>
    <div class="clearfix"></div>
    {% endfor %}
</div>

<script>
window.album = true;
window.filename = '{{ filename }}';
window.can_delete = '{{ can_delete }}';
var history = window.localStorage.getItem('history');
history = JSON.parse(history);
if (history == null) {
    history = [];
}
window.addEventListener('load', function() {
    var inputs = document.querySelectorAll('input.selectall');
    for (var i = 0; i < inputs.length; i++) {
        inputs[i].addEventListener('mouseenter', function(e) {
            e.target.focus();
            e.target.select();
        });
    }
    document.getElementById('embed-link').addEventListener('click', function(e) {
        e.preventDefault();
        var share = document.getElementById('share');
        var embed = document.getElementById('embed');
        if (embed.className == 'hidden') {
            embed.className = '';
            share.className = 'hidden';
        }
        else {
            embed.className = 'hidden';
        }
    });
    if (window.can_delete == 'check') {
        var hashIndex = null;
        if (history) {
            var canDelete = false;
            for (var i = 0; i < history.length; i++) {
                if (history[i] == window.filename) {
                    canDelete = true;
                    hashIndex = i;
                    break;
                }
            }
            if (canDelete) {
                document.getElementById('delete').parentElement.classList.remove('hidden');
            }
        }
    }
    document.getElementById('delete').addEventListener('click', function(e) {
        e.preventDefault();
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/api/' + window.filename + '/delete');
        xhr.send();
        document.getElementById('delete').parentElement.innerHTML = 'Deleted';
        if (history) {
            history.remove(hashIndex);
            window.localStorage.setItem('history', JSON.stringify(history));
        }
    }, false);
    var report = document.getElementById('report');
    report.addEventListener('click', function(e) {
        e.preventDefault();
        var report = document.getElementById('report');
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/report/' + location.href.split('/')[3]);
        xhr.send();
        report.parentElement.innerHTML = "Reported";
    }, false);
}, false);
</script>

{% for type in types %}
{{ type_files(type) | safe }}
{% endfor %}

{% endblock %}
