{% extends "layout.html" %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='apps.css') }}" />
{% endblock %}
{% block content %}
<p>There are a number of ways to make it a little easier to use MediaCrush. Here are the official ways:</p>
<h3>Web Browsers</h3>
<p>We've made a <a href="#">Chrome extension</a> and a <a href="#">Firefox add-on</a> that lets you upload
images on the web straight to MediaCrush.  Give them a try!</p>
<h3>Mobile</h3>
<p>Using MediaCrush on the go is as simple as can be &mdash; just head over to <a href="/">https://mediacru.sh</a>
from your mobile device to use our mobile site.</p>
<h3>Linux</h3>
<p>For Linux users, we have a nice <a href="#">bash script</a> for uploading media to MediaCrush. Simple to use:
<code>mc file1.png file2.mp4 file3.mp3</code>.</p>
<h3>Everyone Else</h3>
We're still working on more ways to use MediaCrush on your system. Want it faster? Have a look at our
straightforward <a href="/docs">API</a> and see if you can make your own!</p>
{% endblock %}
