{% extends "layout.html" %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='demo.css') }}?version=2" />
{% endblock %}
{% block content %}
<p>We make media load super fast. We have a whole bunch of tricks up our sleeves to make your files smaller without
sacrificing quality. When you upload a picture, we run it through lossless compression tools - they find the best
way to make the file smaller, without reducing the quality of the file. And we have epsecially good tools for GIF
files. If you upload a GIF to MediaCrush, we'll convert it into a video before we save it. You see, the GIF file
format is quite old and quite bad. In the years since it came about, computers have become a lot better at compressing
files. No, seriously - this example got 1600% faster when we converted it to a video:</p>
<div class="row">
    <div class="left">
        <h3>GIF</h3>
        <img src="{{ url_for('static', filename='demo.gif') }}" alt="GIF demo" />
        <p>Filesize: 1965 kB (~2.0 MB)</p>
    </div>
    <div class="middle">
        Result:<br />
        <strong>1600% compression</strong><br />
        <a href="/">Try it yourself!</a>
    </div>
    <div class="right">
        <h3>Video</h3>
        {% if mobile %}
            <video controls loop>
        {% else %}
            <video autoplay loop>
        {% endif %}
            <source src="{{ url_for('static', filename='demo.mp4') }}" type='video/mp4'></source>
            <source src="{{ url_for('static', filename='demo.ogv') }}" type='video/ogg; codecs="theora,vorbis"'></source>
        </video>
        <p>Filesize: 118 kB (~0.118 MB)</p>
    </div>
</div>
<p class="clearfix">We usually see 110-200% improvements on images, too. Not nearly as good as GIFs, but it means they
load twice as fast. If you're interested to see how all of this works, have a look at our
<a href="https://github.com/MediaCrush/MediaCrush">source code</a> - maybe you can help make it even better!</p>
<p><a href="/">Back to the home page</a></p>
{% include "analytics.html" %}
{% endblock %}
