<!doctype html>
<html lang="en">
    <head>
        <meta charset=utf-8 />
        <meta type="robots" content="noindex,nofollow" />
        <meta property="og:type" content="{{ mimetype }}" />
        <meta property="og:image" content="https://mediacru.sh/{{ original }}" />
        <meta property="og:site_name" content="MediaCrush" />
        {% if mobile %}
        <meta name="viewport" content="width=device-width" />
        {% endif %}
        <meta property="og:type" content="{{ mimetype }}" />
        <meta property="og:site_name" content="MediaCrush" />
        {% if processor.startswith("video") %}
            {# Generated thumbnail #}
            <meta property="og:image" content="https://mediacru.sh/{{ filename }}.png" />
        {% elif processor.startswith("audio") %}
            <meta property="og:image" content="https://mediacru.sh/static/audio.png" />
        {% else %}
            <meta property="og:image" content="https://mediacru.sh/{{ original }}" />
        {% endif %}
        <title>MediaCrush</title>
        <link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <link rel="icon" type="image/vnd.microsoft.icon" href="/static/favicon.ico" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='view.css') }}" />
        <script src="/static/direct.js"></script>
        {% if dark_theme %}
        <link rel="stylesheet" type="text/css" href="/static/dark.css" />
        {% endif %}
        <style>html,body{margin:0;padding:0;overflow:hidden}</style>
        <script type="text/javascript">
            window.filename = "{{ filename }}";
        </script>
        {% if has_subtitles %}
        <script type="text/javascript" src="{{ url_for('static', filename='libjass.js') }}"></script>
        {% endif %}
    </head>
    <body class="view">
        <div style="display: inline-block">
            {% include fragment %}
        </div>
        <script type="text/javascript">
            {% if mobile %}
            window.mobile = true;
            {% else %}
            window.mobile = false;
            {% endif %}
            window.addEventListener('load', function() {
                var hash = window.location.hash;
                if (hash.length > 1) {
                    handleHash(hash);
                }
                {% if embedded %}
                var body = document.body, html = document.documentElement;
                var width = Math.max(body.scrollWidth, body.offsetWidth, html.clientWidth, html.scrollWidth, html.offsetWidth);
                {% if processor.startswith('audio') %}
                var height = 50;
                {% else %}
                var height = Math.max(body.scrollHeight, body.offsetHeight, html.clientHeight, html.scrollHeight, html.offsetHeight);
                {% endif %}
                // Stupid error correction
                width -= 15;
                height -= 15;
                window.top.postMessage({ width: width, height: height, media: "{{ filename }}" }, '*');
                // This mess just gets the window width,height in x,y
                var w=window,d=document,e=d.documentElement,g=d.getElementsByTagName('body')[0],x=w.innerWidth||e.clientWidth||g.clientWidth,y=w.innerHeight||e.clientHeight||g.clientHeight;
                if (window.resizeMedia) {
                    resizeMedia(x, y);
                }
                window.addEventListener('resize', function(e) {
                    var w=window,d=document,e=d.documentElement,g=d.getElementsByTagName('body')[0],x=w.innerWidth||e.clientWidth||g.clientWidth,y=w.innerHeight||e.clientHeight||g.clientHeight;
                    if (window.resizeMedia) {
                        resizeMedia(x, y);
                    }
                }, false);
                window.addEventListener('message', function(e) {
                    var action = e.data.action;
                    if (action == 'play') {
                        if (window.playMedia) playMedia();
                    } else if (action == 'pause') {
                        if (window.pauseMedia) pauseMedia();
                    }
                });
                {% endif %}
            }, false);
            function handleHash(hash) {
                if (mediaHashHandler)
                    mediaHashHandler(hash.substr(1));
            }
            function updateSize() {
                window.top.postMessage({ width: width, height: height, media: "{{ filename }}" }, '*');
            }
            {% if embedded %}
            {% endif %}
        </script>
        {% if processor.startswith('audio') %}
        <style>
            body > div {
                height: 45px;
                overflow: hidden;
            }
        </style>
        {% endif %}
        <script type="text/javascript">
            (function() {
                var hidden = document.querySelectorAll('.hidden-if-noscript');
                for (var i = 0; i < hidden.length; i++) {
                    hidden[i].classList.remove('hidden-if-noscript');
                }
            })();
        </script>
    </body>
</html>
