{% extends "layout.html" %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}?version=2" />
{% endblock %}
{% block content %}
<h2>Support MediaCrush</h2>
<p>MediaCrush is a free service, and we're really glad you'd like to support us. Donations like yours are our
primary form of revenue. There are a number of simple ways to help:
</p>
<div class="fixedgrid">
    <div class="column">
        {% include "bitcoin.html" %}
    </div>
    <div class="column">
        {% include "dwolla.html" %}
    </div>
    <div class="column">
        {% include "flattr.html" %}
    </div>
</div>
<p class="clearfix">We are also trying out <a href="https://www.gittip.com/mediacrush/">GitTip</a>, if you'd like to use that.</p>
<p>If you'd like to know where your donation is going, we publish monthly reports detailing our
server costs, advertising reports, and a breakdown of how much donation money we receive and from which service.
You can find these reports on our <a href="/transparency">transparency</a> page.</p>
<p>You can also contribute to our <a href="https://github.com/MediaCrush/MediaCrush">source code</a> if you'd
rather not donate money. We're always open to new changes.</p>
<p><a href="/">Back to the home page</a></p>
{% endblock %}
