{% extends "layout.html" %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}?version=2" />
{% endblock %}
{% block scripts %}
<script type="text/javascript">
    function createCookie(name,value,days) {
        if (days) {
            var date = new Date();
            date.setTime(date.getTime()+(days*24*60*60*1000));
            var expires = "; expires="+date.toGMTString();
        }
        else var expires = "";
        document.cookie = name+"="+value+expires+"; path=/";
    }
    function adOptIn() {
        createCookie("ad-opt-out", "", -1);
        window.location.href = window.location.href;
    }
</script>
{% endblock %}
{% block content %}
<h2>Support MediaCrush</h2>
<p>MediaCrush is a free service, and we're really glad you'd like to support us. There are a
number of simple ways to help.
{% if not ads %}
Since it looks like you've disabled ads, the easiest way to support us is to 
<a href="javascript:adOptIn()">opt back in</a> for advertisements. Otherwise, 
there's these other ways you can help:
{% endif %}
</p>
<div class="fixedgrid">
    <div class="column">
        {% include "bitcoin.html" %}
    </div>
    <div class="column">
        {% include "dwolla.html" %}
    </div>
    <div class="column">
        {% include "flattr.html" %}
    </div>
</div>
<p class="clearfix">If you'd like to know where your donation is going, we publish monthly reports detailing our
server costs, advertising reports, and a breakdown of how much donation money we receive and from which service.
You can find these reports on our <a href="/transparency">transparency</a> page.</p>
<p>You can also contribute to our <a href="https://github.com/MediaCrush/MediaCrush">source code</a> if you'd
rather not donate money. We're always open to new changes.</p>
<p><a href="/">Back to the home page</a></p>
{% include "analytics.html" %}
{% endblock %}
