{% extends "layout.html" %}
{% block content %}
<div class="wrapper">
    <div class="content">
        <div class="droparea" id="dropzone">
            Drag and drop a .gif file here.
        </div>
        <div class="sidebar">
            <h1>GifQuick</h1>
            <p>Simply drag and drop your gif file on the left to upload it. It takes us a moment to process each
            gif, since we convert them to videos to improve loading speed.</p>
            <p>GifQuick is open source! Browse the code <a href="https://github.com/SirCmpwn/GifQuick" target="_blank">here</a>.</p>
        </div>
        <div class="gad">
            <img src="http://placehold.it/120x600" />
            <a href="#" class="small">Click here to disable ads</a>
        </div>
    </div>
</div>
{% endblock %}
