{% extends "layout.html" %}
{% block content %}
<div class="wrapper">
    <div class="content">
        <div id="droparea">
            <div id="droptext">Drag and drop your images here.</div>
        </div>
        <div class="small">BTC: 1F5cRcwzZNR3L9j5oVYkCtYhGgnGwiz6jA</div>
        <div class="sidebar">
            <h1>GifQuick</h1>
            <p>Simply drag and drop your gif files on the left to upload them. It takes us a moment to process each
            gif, since we convert them to videos to improve loading speed. On average, this makes our gifs load
            about 10 times faster!</p>
            <p>GifQuick is open source! Browse the code <a href="https://github.com/GifQuick/GifQuick" target="_blank">here</a>.</p>
        </div>
        <div class="gad">
            <img src="http://placehold.it/120x600" />
            <a href="#" class="small">Click here to disable ads</a>
        </div>
    </div>
</div>
{% endblock %}
