{% extends "layout.html" %}
{% block scripts %}
<script src="{{ url_for('static', filename='app.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='history.js') }}" type="text/javascript"></script>
{% endblock %}
{% block content %}
<div class="wrapper">
    <div class="content">
        <div class="column dropcolumn">
            <div id="droparea"{% if mobile %} class="mobile"{% endif %}>
                <div id="files">
                    {% if not mobile %}
                    {% else %}
                    <a href="#" id="browseLink" class="mobile-browse"><span>Tap to Upload</span></a>
                    {% endif %}
                </div>
                <input type="file" id="browse" multiple />
                <div class="controls">
                    <div id="droptext">Drag and drop your files here, or <br />
                    <a href="#" id="browseLink">click to browse</a> for files up to 25 MB.<br />
                    PNG, JPG, SVG, GIF, MP4, OGV, MP3</div>
                </div>
            </div>
            <div class="small">
                <a href="mailto:support@mediacru.sh">support@mediacru.sh</a> &mdash;
                <a href="/donate">Donate to MediaCrush</a> <span class="responsiveHidden">&mdash;</span><span class="responsiveBreak"></span>
                <a href="/serious">Terms of Use & Privacy</a> &mdash;
                <a href="https://blog.mediacru.sh">Blog</a>
            </div>
        </div>
        <div class="sidebar column">
            <a class="logo" href="https://blog.mediacru.sh/2013/07/27/MediaCrush-logo.html" target="_blank">
                <img src="/static/logo-bg.png" class="bg" alt="logo" />
                <img src="/static/logo-fg.png" alt="logo" />
            </a>
            <h1>MediaCrush</h1>
            <p>We make your media files load super fast by reducing the file size, without sacrificing quality.
            See a demo <a href="/demo">here</a>!</p>
            <p>MediaCrush is <a href="https://github.com/MediaCrush/MediaCrush" target="_blank">open source</a>, too!</p>

            <div id="histDiv" class="column hidden">
                <h4>Your Recent Uploads</h4>
                <a href="/mine" class="small" id="histView">View full history</a> &mdash;
                <a href="javascript:toggleHistory();" class="small" id="histStatus">(Disable local history)</a>

                <ul id="histThumb" class="home-history">
                    <li class="fader"></li>
                </ul>
            </div>

            {% if ads and adsense_client != "CHANGEME"  %}
            <div id="lgad">
                <script type="text/javascript"><!--
                google_ad_client = "{{ adsense_client }}";
                google_ad_slot = "5280784572";
                google_ad_width = 234;
                google_ad_height = 60;
                //-->
                </script>
                <script type="text/javascript" src="//pagead2.googlesyndication.com/pagead/show_ads.js"></script>
                <div>
                    <a href="javascript:adOptOut();" class="small">Click here to disable ads</a>
                </div>
            </div>
            {% endif %}
        </div>
        <div id="gad" class="column">
            {% if ads %}
            <div>
                {% include "ads.html" %}
            </div>
            <a href="javascript:adOptOut();" class="small">Click here to disable ads</a>
            {% endif %}
        </div>
    </div>

    <script type="text/template" id="template-video">
        <li>
            <a class="hist-url" href="--URL--" target="_blank">
                <video autoplay loop controls class="item-view">
                    <source src="--URL--.mp4" type="video/mp4;" > \
                    <source src="--URL--.ogv" type='video/ogg; codecs="theory, vorbis"' >
                </video>
            </a>
        </li>
    </script>
    <script type="text/template" id="template-image">
        <li>
            <a class="hist-url" href="--URL--" target="_blank">
                <img src="--URL--.--IMG-TYPE--" alt="MediaQuick" class="item-view">
            </a>
        </li>
    </script>
    <script type="text/template" id="template-audio" target="_blank">
        <li>
            <a class="hist-url" href="--URL--">
                <audio controls class="item-view">
                    <source src="--URL--.mp3" type="audio/mpeg">
                    <source src="--URL--.ogg" type="audio/ogg">
                </audio>
            </a>
        </li>
    </script>

</div>
{% include "analytics.html" %}
{% endblock %}
