<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="MediaCrush makes sharing media super easy and super fast. You can upload images, audio, and video for fast, reliable hosting with none of the usual nonsense.">
        <meta name="keywords" content="gif,png,fast,mp4,ogv,image,host">
        {% block mobile_responsive %}
        {% if mobile %}
        <meta name="viewport" content="width=device-width, user-scalable=no" />
        {% endif %}
        {% endblock %}
        {% block meta %}{% endblock %} 
        <title>MediaCrush</title>
        <link rel="icon" type="image/vnd.microsoft.icon" href="/static/favicon.ico" />
        {% block styles %}{% endblock %}
    </head>
    <body>
        <div class="container">
            <div class="content">
                {% block content %}{% endblock %}
            </div>
        </div>
        {% block analytics %}
        {% include "analytics.html" %}
        {% endblock %}
    </body>
</html>
