{% extends "layout.html" %}
{% block scripts %}
<script src="{{ url_for('static', filename='mine.js') }}" type="text/javascript"></script>
{% endblock %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mine.css') }}?version=2" />
{% endblock %}
{% block content %}
<div class="header">
    <h2>Your Content</h2>
    <p>
        This history is stored on your computer, not ours. <span id="disabledText" class="hidden">
        You have disabled this feature on this computer.</span> You can
        <a href="#" id="history-toggle">disable local history</a> anyway, or
        <a href="#" id="forget-all">forget everything</a>.
    </p>
    <p><a href="/">Back to the home page</a></p>
</div>
<ul class="pagination"></ul>
<div class="progress hidden small-centered" id="progress"></div>
<div id="items"></div>
<ul class="pagination"></ul>
{% endblock %}
