{% extends "layout.html" %}
{% block content %}
<style>
    .header div {
        display: block;
    }

    .item-view {
       display: block;
       padding: 5px 0px;
    }

    #ul-hist li{
        padding: 12px 0px;
    }

    .hist-url {
        padding-bottom: 5px;
    }

    .hist-del {
        display: inline;
        padding-left: 20px;
        color: #dd1111;
    }

</style>

<div class="wrapper">
    <div class="content">
        <div class="header">
            <h2>Your Content</h2>
            <p>
                This history is stored on your computer, not ours. <span id="disabledText" class="hidden">
                You have disabled this feature on this computer.</span> You can
                <a href="javascript:optOutHistToggle();" id="hist-opt-toggle">disable local history</a> anyway, though, or
                <a href="javascript:clearHist();">forget everything</a>.
            </p>
        </div>
        <ul id="ul-hist"></ul>
        <ul id="ul-page"></ul>
    </div>

    <script type="text/template" id="template-video">
        <li id="hist--ID--">
            <a class="hist-url" href="--URL--">--URL--</a>
            <a class="hist-del" href="javascript:deleteItem(--ID--);">[ forget ]</a>
            <video controls class="item-view">
            <video autoplay loop>
                <source src="--URL--.mp4" type="video/mp4;" > \
                <source src="--URL--.ogv" type='video/ogg; codecs="theory, vorbis"' >
            </video>
        </li>
    </script>
    <script type="text/template" id="template-image">
        <li id="hist--ID--">
            <a class="hist-url" href="--URL--">--URL--</a>
            <a class="hist-del" href="javascript:deleteItem(--ID--);">[ forget ]</a>
            <img src="--URL--.--IMG-TYPE--" alt="MediaQuick" class="item-view">
        </li>
    </script>
    <script type="text/template" id="template-audio">
        <li id="hist--ID--">
            <a class="hist-url" href="--URL--">--URL--</a>
            <a class="hist-del" href="javascript:deleteItem(--ID--);">[ forget ]</a>
            <audio controls class="item-view">
                <source src="--URL--.mp3" type="audio/mpeg">
                <source src="--URL--.ogg" type="audio/ogg">
            </audio>
        </li>
    </script>
    <script src="/static/mine.js" type="text/javascript"></script>
</div>
{% include "analytics.html" %}
{% endblock %}
