{% extends "layout.html" %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}?version=2" />
{% endblock %}
{% block content %}
<h2>Serious Stuff</h2>
<p>This page is somewhat wordy, but we attempted to make it easy to read. We want to be as open as possible about what we're doing
here. If you have any questions, feel free to <a href="mailto:support@mediacru.sh">contact us</a>.</p>
<noscript>
<p><strong>Anonymous users, please read this carefully. We will only be able to allow uploads from anonymous users for as long as
you do not abuse it.</strong> You can find our PGP key at the bottom of this page, which you can use to email us any questions
you might have.</p>
</noscript>
<h2>Terms of Use</h2>
<p>We can and will ban you if you fail to follow these terms. We may also take legal action against more serious violations.</p>
<p>The general idea is "be responsible". Follow these basic rules:</p>
<ul>
    <li>Do not upload anything that is illegal for us to host.</li>
    <li>Do not upload anything you might regret uploading. We rarely remove uploads that don't violate the terms.</li>
</ul>
<p>If you see content that violates these terms, please press "report" on the page the content appears on. For particularly bad
cases, please send an email to <a href="mailto:abuse@mediacru.sh">abuse@mediacru.sh</a> right away.</p>
<h2>Privacy</h2>
<p>There is only one metric we gather about you that you are not able to turn off, which is your hashed IP address. When you upload
an image, we run your IP address through a hashing function and store it in our database. Once hashed, it is infeasible to recover
the IP address, so your IP address is safe, even if our database is compromised. We couldn't share it even if we wanted to.
<noscript>Anonymous users are not tracked in this way.</noscript></p>
<p>This means that if for some reason our database were stolen or we were pressured by anyone to release information about you, we
are unable to. However, it allows us to ban malicous users from using the site. What we can do is determine if a hash matches a given
IP address, so we can use it as a basis for banning an anonymous user. For the technically savvy, we run IPs through bcrypt with 12
rounds.</p>
<p>There is some other data we gather about you that you <em>are</em> able to turn off. We gather anonymous information about
our users via Google Analytics. This data includes (but is not limited to):</p>
<ul>
    <li>Your country of origin</li>
    <li>Your browser and operating sytem</li>
    <li>The website you used to get here (i.e. Reddit, Google, etc)</li>
    <li>Your preferred language</li>
    <li>Your Internet Service Provider</li>
    <li>The amount of time you spent on the site and which pages you were on</li>
</ul>
<p>Again, this data is collected anonymously and we compare it with everyone else on the site - we never snoop on you individually.
MediaCrush respects your Do Not Track settings. If you do not want this information gathered about you, you can turn on Do Not Track
in your web browser. Instructions may be found <a href="http://donottrack.us/">here</a>.<noscript> This information is not collected
for anonymous users.</noscript></p>
<p>We publish the data collected by Google Analytics. You can find all of these reports <a href="/transparency">here</a>. We
also include information about donations, advertising reports, and server costs, as well as technical reports and other information.</p>
<p>To further protect your privacy, your connection to mediacru.sh is done over SSL - this means that no one can snoop on your
connection. This can be compromised by malicious software on your computer, however, and you should do frequent security audits
on your computer if you are worried about this.</p>
<h2>Removing Content</h2>
<p>If you are able to prove that you are the copyright holder of some content on our site, and you would like it removed, please
<a href="mailto:abuse@mediacru.sh">email us</a>. We will also respond to individually-prepared DMCA notices.</p>
<p>In other situations, however, we will not remove content. You may contact us for more serious concerns on a case-by-case basis,
but do not expect us to remove any content on our site that is not in violation of our terms. Though we will not often excercise
this right, we reserve the right remove any content, at any time, without explanation.</p>
<p>That being said, you are able to delete files from the same computer you uploaded them on. We don't store your IP, but given your
IP again later, we can tell if a file belongs to you. Head to the page your media is on, and click "Delete" on the bottom of
the page.<noscript> Anonymous users are not permitted to delete files.</noscript></p>
<a href="/">Back to the home page</a>
{% endblock %}
