{% extends "layout.html" %}
{% block content %}
<div class="container">
    <h1>Serious Stuff</h1>
    <p>This page is somewhat wordy, but we attempted to make it easy to read. We want to be as open as possible about what we're doing
    here. If you have any questions, feel free to <a href="mailto:support@gifquick.net">contact us</a>.</p>
    <h2>Terms of Use</h2>
    <p>We can and will ban you if you fail to follow these terms. We may also take legal action against more serious violations.</p>
    <p>The general idea is "be responsible". Follow these basic rules:</p>
    <ul>
        <li>Do not upload anything you do not own</li>
        <li>Do not upload anything illegal in the United States</li>
        <li>Do not upload anything you might regret uploading. We rarely remove uploads that don't violate the terms.</li>
    </ul>
    <p>If you see something violating these rules, press "report" on the image page. Unless you're the copyright holder, though, please
    refrain from informing us that copyrighted content has been uploaded. Copyright holders should see the relevant information below.</p>
    <h2>Privacy</h2>
    <p>There is only one metric we gather about you that you are not able to turn off, which is your hashed IP address. When you upload
    an image, we run your IP address through a hashing function and store it in our database. It is mathematically impossible to reverse
    the hashing process, so your IP address is safe, even if our database is compromised. We couldn't share it even if we wanted to.</p>
    <p>We may change this at any time, however. When you upload an image, though we don't save your IP address directly, we are able to
    determine which images you've uploaded in the past. For particularly grevious violations of our terms (for example, uploading child
    porn), we may begin recording your unobsfucated IP address to identify you more strongly. We respect your privacy, and will not do
    this for anything but the most extreme of cases. We also never enable this for all users - if you are respectful of our terms, you
    will be able to upload content anonymously.</p>
    <p>There is some other data we gather about you that you <em>are</em> able to turn off. We gather anonymous information about
    our users via Google Analytics. This data includes (but is not limited to):</p>
    <ul>
        <li>Your country of origin</li>
        <li>Your browser and operating sytem</li>
        <li>The website you used to get here (i.e. Reddit, Google, etc)</li>
        <li>Your preferred language</li>
        <li>Your Internet Service Provider</li>
        <li>The amount of time you spent on the site and which pages you were on</li>
    </ul>
    <p>Again, this data is collected anonymously and we compare it with everyone else on the site - we never snoop on you individually.
    GifQuick respects your Do Not Track settings. If you do not want this information gathered about you, you can turn on Do Not Track
    in your web browser. Instructions may be found <a href="http://donottrack.us/">here</a>.</p>
    <p>Additinally, our advertisers may gather some information about you in order to present more relevant ads to you. We cannot
    influence how our advertisers gather your data. However, we do allow you to opt-out of advertising entirely (though we appreciate
    a small <a href="/donate">donation</a> to make up for it). In order to opt-out of advertising, note the "Click here to disable ads"
    link that we show underneath every advertisement on the site. This will disable ads, but only for that computer. If you use the site
    from your phone, your laptop, or anywhere else, you will have to disable ads from there as well.</p>
    <h2>Removing Content</h2>
    <p>If you are able to prove that you are the copyright holder of some content on our site, and you would like it removed, please
    <a href="mailto:support@gifquick.net">email us</a>. We will also respond to individually-prepared DMCA notices.</p>
    <p>In other situations, however, we will not remove content. You may contact us for more serious concerns on a case-by-case basis,
    but do not expect us to remove any content on our site that is not in violation of our terms. Though we will not often excercise
    this right, we reserve the right remove any content, at any time, without explanation.</p>
</div>
{% endblock %}
