{% extends "layout.html" %}
{% block content %}
<div class="container">
    <h1>Serious Stuff</h1>
    <p>This page is somewhat wordy, but we attempted to make it easy to read. We want to be as open as possible about what we're doing
    here. If you have any questions, feel free to <a href="mailto:support@gifquick.net">contact us</a>.</p>
    <h2>Terms of Use</h2>
    <p>We can and will ban you if you fail to follow these terms. We may also take legal action against more serious violations.</p>
    <p>The general idea is "be responsible". Follow these basic rules:</p>
    <ul>
        <li>Do not upload anything that is illegal for us to host in the United States.</li>
        <li>Do not upload anything you might regret uploading. We rarely remove uploads that don't violate the terms.</li>
    </ul>
    <p>If you see illegal content, please press "report" on the page the content appears on.</p>
    <h2>Privacy</h2>
    <p>There is only one metric we gather about you that you are not able to turn off, which is your hashed IP address. When you upload
    an image, we run your IP address through a hashing function and store it in our database. It is mathematically impossible to reverse
    the hashing process, so your IP address is safe, even if our database is compromised. We couldn't share it even if we wanted to.</p>
    <p>This means that if for some reason our database were stolen or we were pressured by anyone to release information about you, we
    are unable to. However, it allows us to ban malicous users from using the site. Every time we hash your IP address, we get the same
    hash, so we can use it as a basis for banning an anonymous user.</p>
    <p>There is some other data we gather about you that you <em>are</em> able to turn off. We gather anonymous information about
    our users via Google Analytics. This data includes (but is not limited to):</p>
    <ul>
        <li>Your country of origin</li>
        <li>Your browser and operating sytem</li>
        <li>The website you used to get here (i.e. Reddit, Google, etc)</li>
        <li>Your preferred language</li>
        <li>Your Internet Service Provider</li>
        <li>The amount of time you spent on the site and which pages you were on</li>
    </ul>
    <p>Again, this data is collected anonymously and we compare it with everyone else on the site - we never snoop on you individually.
    GifQuick respects your Do Not Track settings. If you do not want this information gathered about you, you can turn on Do Not Track
    in your web browser. Instructions may be found <a href="http://donottrack.us/">here</a>.</p>
    <p>We also publish the data collected by Google Analytics. You can find all of these reports <a href="/analytics">here</a>.</p>
    <p>Additionally, our advertisers may gather some information about you in order to present more relevant ads to you. We cannot
    influence how our advertisers gather your data. However, we do allow you to opt-out of advertising entirely (though we appreciate
    a small <a href="/donate">donation</a> to make up for it). In order to opt-out of advertising, note the "Click here to disable ads"
    link that we show underneath every advertisement on the site. This will disable ads, but only for that computer. If you use the site
    from your phone, your laptop, or anywhere else, you will have to disable ads from there as well.</p>
    <p>To further protect your privacy, your connection to gifquick.net is done over SSL - this means that no one can snoop on your
    connection. This can be comprimised by malicious software on your computer, however, and you should do frequent security audits
    on your computer if you are worried about this.</p>
    <h2>Removing Content</h2>
    <p>If you are able to prove that you are the copyright holder of some content on our site, and you would like it removed, please
    <a href="mailto:copyright@gifquick.net">email us</a>. We will also respond to individually-prepared DMCA notices.</p>
    <p>In other situations, however, we will not remove content. You may contact us for more serious concerns on a case-by-case basis,
    but do not expect us to remove any content on our site that is not in violation of our terms. Though we will not often excercise
    this right, we reserve the right remove any content, at any time, without explanation.</p>
    <h2>Contacting Us Securely</h2>
    <p>If you wish to encrypt your emails to us, use our public key and email <a href="mailto:secure@gifquick.net">secure@gifquick.net</a>:</p>
    <pre>
-----BEGIN PGP PUBLIC KEY BLOCK-----
Version: GnuPG v2.0.20 (GNU/Linux)

mQENBFHohp4BCADS2fswIghDD1y0/y5eLCEExFg6/L/GoNwXKzou0MPoT43kSRuJ
XvOvyQGBrT8JC0qtTWk20sii1Q3zYH0DutX7pQY0zRhhE809xbZHM8BOH3iPzTmZ
gvY8qlQKUsLur8PsKy0MpzDmm3GpI7xREBgCZj5ShQtnyIZM5PRNkDCnQItWWaan
M3NO10VN+xKE9AOzq7q1aJTx0n5WwMCF+MTlvCQdGHYud8NUPSAgdlBc3m79qJwE
EqJ31DIh+ZUGfIZo4DJqVHzpoy9XCXHwlWiLfsH6dPWcB+6LQZMSQHNImqO9Up0F
QQRuykY2QKgZl6kbDOEtdgnMyxyuhoY0g9t/ABEBAAG0RkdpZlF1aWNrIChTZWN1
cmUgZW1haWwgYWRkcmVzcyBmb3IgZ2lmcXVpY2submV0KSA8c2VjdXJlQGdpZnF1
aWNrLm5ldD6JATkEEwECACMFAlHohp4CGwMHCwkIBwMCAQYVCAIJCgsEFgIDAQIe
AQIXgAAKCRB8snSt9Co3tb93CACcboGUmC2vxaiO99NofIqFr9ucJbYP8fXnuaDq
hNRajZQsOcUrklt8bekWqJ1tHXxH51J1+jX8qCYCi+tshDuQR26SCjzJstPBNCRU
PgUa7Ww2ONtEMieUKCPnxScmWNpzFXDaLYwWf2to6SOdGAqK9ZIRXGgpkoslYm7M
IdJpIFkfy4Lx9nb8Gf5qPssg/Vd8s224bR2sM3HBA5LxM0svLlFtyMh7+k/JNvGs
vvIjRqmZylbwF7jD61dAbnUmtO27VxHuR0ToVnYDbzC1S0QrNFLGmnqYOvdkesJq
hBJoIBIgZIZXgEy6iE2rniRF+ELT5+0zgOxOC6A7cXl25cC2uQENBFHohp4BCADK
SptD94RfCDrzNOLt8zzbkt7X2DezTk9bpSPSaoisc3oCQh1vXv0AHSLR7Nj2jMNk
QLVfjpbDrTYYrSMcaITgEbPV5WVjODa0VFzvO+HrlFFy0HdrZY5mHh+17UkAfVXP
LZrtA48InDUeZpL1cdzfZpsaWDy9H/PwlBFYSZdIjTi6Oai+fHX0TB1X+P6zg1cR
nbMvvp61O2xX4KaPrBK8DGdbdrW5JtNIpTU+rrhANlW4N/6RavNm+oNBUtudZSHR
mHIeibpFL9UmJ9KHXo26q/UWVpEMLOTrQ61W8RcuZo2h+2lVbtF+MlBBh9X//L+a
OeXfr9xJFFSBxoBoBz7hABEBAAGJAR8EGAECAAkFAlHohp4CGwwACgkQfLJ0rfQq
N7W9sgf/T3JXqdW2af+k/n3oFsCrGxQnf5jtf/mppJyJG0KC03HHugEhpObqSWD0
y6O4s5gt2P+Znhmt1okXp1B/pN+2HqkzBAdABZ5ipV4SzWKj8FV4ssjJHp/ZoVC/
aCm6kVDEkvgJKhU4scfmGClZtlIPaq8ZlDNjGHQKxMj/xEIrkoKGODhBfs+2v5gI
6yXWn2ROONXZDqvX1SKcSmtZlp1oE2cYU5MXN/5o5AsilHIO3u0YHp8v5s/h+vEX
ITQtbw8KmlXPBzjXEaUaxxertc4/LTHOMXr6wu2bpwhoUrQungVsBN0Bi3et2+om
YuwEehCUS4aHSNQniqju8h3wtsEygw==
=wlgJ
-----END PGP PUBLIC KEY BLOCK-----
</pre>
</div>
{% include "analytics.html" %}
{% endblock %}
