<!doctype html>
<html lang="en">
    <head>
        <meta charset=utf-8 />
        <meta type="robots" content="noindex,nofollow" />
        <meta property="og:type" content="{{ mimetype }}" />
        <meta property="og:image" content="https://mediacru.sh/{{ original }}" />
        <meta property="og:site_name" content="MediaCrush" />
        {% if mimetype.startswith("image") %}
        <meta name="twitter:card" content="photo">
        <meta name="twitter:image" content="https://mediacru.sh/{{ original }}">
        {% endif %}
        <title>MediaCrush</title>
        <link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <link rel="icon" type="image/vnd.microsoft.icon" href="/static/favicon.ico" />
        <style type="text/css">input[type="text"]{width:95%;margin:0 auto;}body{margin:0;font-family:'Open Sans',sans-serif;padding:0;}.small{font-size:8pt;}a{color:#08c;text-decoration:none;}a:hover{color:#005580;text-decoration:underline;}.row{text-align:center;}.zout{cursor:-webkit-zoom-in;cursor:-moz-zoom-in;cursor:zoom-in;}.zin{cursor:-webkit-zoom-out;cursor:-moz-zoom-out;cursor:zoom-out;}.red{color:red;}a.red:hover{color:red;}.hidden{display:none;}</style>
    </head>
    <body>
        <div style="display: inline-block">
            {% if mimetype == "image/gif" and mobile %}
                {% include "fragments/image.html" %}
            {% elif mimetype.startswith("video") or (mimetype == "image/gif" and not mobile) %}
                {% if mobile %}
                    {% include "fragments/mobilevideo.html" %}
                {% else %}
                    {% include "fragments/video.html" %}
                {% endif %}
            {% elif mimetype.startswith("image") %}
                {% include "fragments/image.html" %}
            {% elif mimetype.startswith("audio") %}
                {% include "fragments/audio.html" %}
            {% endif %}
            <div class="row">
                <div>
                    <a href="/download/{{ original }}" style="text-align: center; display: inline-block;">Download original file</a>
                </div>
                <div>
                    <span class="small"><a href="#" id="embed">Embed</a> &mdash;</span>
                    <span class="small"><a href="#" id="report">Report</a></span>
                    <span class="small"> &mdash; <a href="/">Upload</a></span>
                    <span class="small{% if can_delete == 'check' or can_delete == False %} hidden{% endif %}" id="deleteContainer"> &mdash; <a class="red" id="deleteLink" href="/api/{{ filename }}/delete">Delete</a></span>
                </div>
                <input type="text" id="embed-script" class="hidden" readonly value='&lt;script type="text/javascript" src="https://mediacru.sh/{{ filename }}/embed"&gt;&lt;/script&gt;' />
                {% if compression %}
                <div>
                    <span class="small">{{ compression }}% faster!</span>
                </div>
                {% endif %}
                <br />
            </div>
        </div>
        <script type="text/javascript">
            {% if can_delete == 'check' %}
            Array.prototype.remove = function(from, to) {
              var rest = this.slice((to || from) + 1 || this.length);
              this.length = from < 0 ? this.length + from : from;
              return this.push.apply(this, rest);
            };
            var history = window.localStorage.getItem('history');
            var hashIndex = null;
            history = JSON.parse(history);
            if (history) {
                var canDelete = false;
                for (var i = 0; i < history.length; i++) {
                    if (history[i] == '{{ filename }}') {
                        canDelete = true;
                        hashIndex = i;
                        break;
                    }
                }
                if (canDelete) {
                    document.getElementById('deleteContainer').classList.remove('hidden');
                }
            }
            {% endif %}
            document.getElementById('deleteLink').onclick = function(e) {
                e.preventDefault();
                var xhr = new XMLHttpRequest();
                xhr.open('GET', '/api/{{ filename }}/delete');
                xhr.send();
                document.getElementById('deleteContainer').innerHTML = ' &mdash; Deleted';
                if (history) {
                    history.remove(hashIndex);
                    window.localStorage.setItem('history', JSON.stringify(history));
                }
            };
            window.addEventListener('load', function() {
                var report = document.getElementById('report');
                report.addEventListener('click', function(e) {
                    e.preventDefault();
                    var report = document.getElementById('report');
                    var xhr = new XMLHttpRequest();
                    xhr.open('GET', '/report/' + location.href.split('/')[3]);
                    xhr.send();
                    report.parentNode.innerHTML = "Reported";
                }, false);
                var embed = document.getElementById('embed');
                embed.addEventListener('click', function(e) {
                    e.preventDefault();
                    var embedScript = document.getElementById('embed-script');
                    if (embedScript.className == "hidden") {
                        embedScript.className = "";
                        embedScript.select();
                    } else {
                        embedScript.className = "hidden";
                    }
                }, false);
            }, false);
        </script>
    </body>
    {% include "analytics.html" %}
</html>
