{% extends "layout.html" %}
{% block mobile_responsive %}{% endblock %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='view.css') }}" />
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        window.filename = '{{ filename }}';
        window.can_delete = '{{ can_delete }}';
        window.embedded = '{{ embedded }}';
        window.flags = {{ flags | tojson }}; 
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='view.js') }}"></script>
    {% if has_subtitles %}
    {% if subtitles['info']['codec_name'] == 'srt' or subtitles['info']['codec_name'] == 'vtt' %}
    <script type="text/javascript" src="{{ url_for('static', filename='captionator.js') }}"></script>
    {% else %}
    <script type="text/javascript" src="{{ url_for('static', filename='libjass.js') }}"></script>
    {% endif %}
    {% endif %}
{% endblock %}
{% block meta %}
    <meta name="robots" content="noindex">
    <meta property="og:type" content="{{ mimetype }}" />
    <meta property="og:site_name" content="MediaCrush" />
    {% if processor.startswith("video") %}
        {# Generated thumbnail #}
        <meta property="og:image" content="{{ root }}/{{ filename }}.jpg" />
        <meta property="twitter:card" content="player" />
        <meta property="twitter:title" content="MediaCrush" />
        <meta property="twitter:description" content="A video shared with MediaCrush." />
        <meta property="twitter:player" content="{{ share('frame', filename) }}" />
        <meta property="twitter:player:stream" content="{{ media_url(filename) }}.mp4" />
        <meta property="twitter:player:stream:content_type" content="video/mp4" />
        <meta property="twitter:player:width" content="640" />
        <meta property="twitter:player:height" content="360" />
        <meta property="twitter:image" content="{{ media_url(filename) }}.jpg">
    {% elif processor.startswith("audio") %}
        <meta property="og:image" content="/static/audio.png" />
    {% else %}
    <meta property="og:image" content="{{ root }}/{{ original }}" />
        <meta name="twitter:card" content="photo">
        <meta name="twitter:image" content="{{ media_url(original) }}">
    {% endif %}
{% endblock %}
{% block content %}
<div class="media-wrapper">
    <div class="media">
        {% include fragment %}
    </div>
</div>
<div class="center small clearfix">
    {% if flags %}
    <div id="flags" class="{% if can_delete == 'check' or can_delete == False %}hidden{% endif %}">
        <strong>Settings:</strong>
        {% for flag, value in flags.items() %}
        {% if flag == 'nsfw' %}
        <label for="{{ flag }}" class="checkbox">
            <input type="checkbox" data-flag="{{ flag }}" id="{{ flag }}" name="{{ flag }}" {% if value %}checked{% endif %} autocomplete="off" />
            NSFW?
        </label>
        {% else %}
        <label for="{{ flag }}" class="checkbox">
            <input type="checkbox" data-flag="{{ flag }}" id="{{ flag }}" name="{{ flag }}" {% if value %}checked{% endif %} autocomplete="off" />
            {{ flag }}
        </label>
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}
    <ul class="inline hidden-if-noscript">
        <li><a href="#" id="embed-link">Embed</a></li>
        <li><a href="#" id="share-link">Share</a></li>
        <li><a href="/download/{{ original }}">Download</a></li>
        <li><a href="/report/{{ filename }}" id="report">Report</a></li>
        <li class="{% if can_delete == 'check' or can_delete == False %}hidden{% endif %}"><a href="#" class="red" id="delete">Delete</a></li>
    </ul>
    <noscript>
    <ul class="inline">
        <li><a href="/download/{{ original }}">Download</a></li>
        <li><a href="/report/{{ filename }}" class="red">Report</a></li>
        <li class="{% if can_delete == 'check' or can_delete == False %}hidden{% endif %}"><a href="#" class="red" id="delete">Delete</a></li>
    </ul>
    <p>Anonymous users are especially encouraged to click "report" for all media that violates our <a href="/serious">terms of use</a>.</p>
    </noscript>
    {% if compression %}
    {{ compression }}% faster on MediaCrush!
    {% endif %}
</div>
<div class="hidden" id="embed">
    <div class="center">
        <p>Copy this HTML and paste it into your website:</p>
        <input id="embed-value" type="text" value='&lt;iframe src="{{ protocol }}://{{ domain }}/{{ filename }}/frame" frameborder="0" allowFullscreen></iframe>' class="selectall" />
        <p>Are you a developer? You might want to read our <a href="/docs">developer documentation</a>.</p>
    </div>
</div>
<div class="hidden" id="share">
    <dl>
        <dt>Link</dt>
        <dd><input type="text" value="{{ share('link', filename) }}" class="selectall" /></dd>
        <dt>Direct Link</dt>
        <dd><input type="text" value="{{ share('directlink', filename) }}" class="selectall" /></dd>
        <dt>Markdown</dt>
        <dd><input type="text" value="{{ share('markdown', filename) }}" class="selectall" /></dd>
        <dt>HTML</dt>
        <dd><input type="text" value='{{ share('html', filename) }}' class="selectall" /></dd>
        <dt>BBCode</dt>
        <dd><input type="text" value='{{ share('bbcode', filename) }}' class="selectall" /></dd>
    </dl>
</div>
{% include "advertisement.html" %}
{% endblock %}
