<html lang="en">
    <!-- BTC 1F5cRcwzZNR3L9j5oVYkCtYhGgnGwiz6jA -->
    <head>
        <meta charset=utf-8 />
        <title>gifquick</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
        <style type="text/css">body{margin:0;padding:0;}</style>
    </head>
    <body>
        <div style="display: inline-block">
            <img src="{{ url_for('GifView:get', id=filename) }}">
            <br />
            <a href="{{ url_for('GifView:get', id=filename) }}" style="text-align: center; display: block;">Download original image</a>
        </div>
    </body>
    {% include "analytics.html" %}
</html>
