{% extends "album.html" %}
{% block layout %}
<div class="layout-selector center">
    Layout:
    <a href="/{{ filename }}" title="List" class="icon" data-icon="&#xF0A9;"></a>
    <a href="/{{ filename }}/focus" title="Focus" class="icon selected" data-icon="&#xF126;"></a>
    <a href="/{{ filename }}/grid" title="Grid" class="icon" data-icon="&#xF027;"></a>
</div>
<script>
window.albumType = 'focus';
</script>
{% endblock %}
{% block album %}
<div class="clearfix album focus">
    <div class="left">
        {{ render_media(items[0], album=True) | safe }}
        <div class="clearfix"></div>
    </div>
    <div class="right">
        {% for hash in items[1:6] %}
        <div class="item">
            <div data-hash="hash.hash">
                {{ render_media(hash, album=True) | safe }}
            </div>
            <div class="clearfix"></div>
            <a href="#" class="target"></a>
        </div>
        {% endfor %}
        <div class="fade"></div>
    </div>
</div>
{% endblock %}
