{% extends "album.html" %}
{% block layout %}
{% include "fragments/album_layout_select.html" %}
{% endblock %}

{% block album %}
<div class="clearfix album focus">
    <div class="left selected">
        {{ render_media(items[0], album=True) | safe }}
        <div class="clearfix"></div>
    </div>
    <div class="right">
        <div class="controls">
            <div class="center"><span class="index">1</span>/{{ len(items) }}</div>
            <a href="#" class="hidden previous icon icon-32" data-icon="&#xF168;"></a>
            <a href="#" class="next icon icon-32" data-icon="&#xF16E;"></a>
        </div>
        <div class="items clearfix">
            {% for hash in items[1:6] %}
            <div class="item">
                <div class="media-item" data-hash="{{ hash.hash }}" data-index="{{ loop.index }}">
                    {{ render_media(hash, album=True) | safe }}
                </div>
                <div class="clearfix"></div>
                <a href="#" class="target"></a>
            </div>
            {% endfor %}
        </div>
        <div class="fade"></div>
    </div>
</div>
{% endblock %}
