{% extends "album.html" %}
{% block layout %}
<div class="layout-selector center">
    Layout:
    <a href="/{{ filename }}" title="List" class="icon selected" data-icon="&#xF0A9;"></a>
    <a href="/{{ filename }}/grid" title="Grid" class="icon" data-icon="&#xF027;"></a>
    <a href="/{{ filename }}/focus" title="Focus" class="icon" data-icon="&#xF126;"></a>
</div>
{% endblock %}
{% block album %}
<div class="clearfix album">
    {% for hash in items[:3] %}
    <div class="media-wrapper">
        <div class="media">
            {{ render_media(hash, album=True) | safe }}
        </div>
    </div>
    <div class="clearfix"></div>
    {% endfor %}
</div>
{% endblock %}
