#feedback {
    position: fixed;
    z-index: 1000;
    transition: bottom 0.25s linear;
    bottom: -150px;
    right: 10px;
    width: 200px;
    height: 150px;
    background: #1692d0;
    color: #fff;

    &.active {
        bottom: 0;
    }

    textarea {
        width: 184px;
        height: 80px;
        border: none;
        padding: 3px;
    }

    a.button {
        display: block;
        padding: 3px;
        color: #fff;
        text-align: center;
        margin-top: 5px;
        background: #073045;

        &:hover {
            background: #1f4457;
        }
    }

    a {
        color: #ccc;
    }

    & > a {
        color: #fff;
        position: absolute;
        top: -28px;
        background: #1692d0;
        display: block;
        width: 83px;
        left: 107px;
        padding: 5px;
    }

    & > div {
        padding: 5px;

        p {
            margin: 0;
        }
    }
}
