@import 'stylesheet.scss'

/*
 * Layout
 */
#albumUI {
    margin-bottom: 5px;

    div, & > a {
        display: block;
        padding: 5px;
        text-align: center;
        font-weight: bold;
    }

    .button {
        color: #fff;
        background: #00b200;

        &:hover {
            background: #007f00;
        }
    }
}

#drop-wrapper {
    position: relative;
    width: 700px;
    height: 595px;
    overflow: hidden;
}

#droparea {
    background: #fff;
    overflow: hidden;
    padding: 5px;
    position: absolute;
    top: 0;
    left: 0;
    height: 595px;
    -webkit-transition: box-shadow 0.25s linear;
    -moz-transition: box-shadow 0.25s linear;
    transition: box-shadow 0.25s linear;
    background: url('/static/upload.png') transparent no-repeat 230px 320px;
    width: 100%;
    padding-right: 50px;
    margin-left: 6px;

    &.hover {
        box-shadow: 0 0 10px 2px rgba(82, 168, 236, 0.6) inset;
    }

    &.files {
        background: none;

        #droptext {
            margin-top: 10px;
        }
    }

    #record {
        position: absolute;
        left: 5px;
        top: 9px;
        font-size: 10pt;
        padding: 3px;
        z-index: 1000;

        .info {
            position: relative;
            top: -2px;
        }

        .icon {
            color: #000;

            &:hover {
                color: #333;
            }
        }
    }

    #notice {
        text-align: center;
        position: absolute;
        bottom: 20px;
        float: left;
        left: 50%;

        div {
            position: relative;
            float: left;
            left: -50%;
            padding: 3px;
            background-color: rgb(223, 240, 216);
            white-space: nowrap;
            color: #000;
            border: 1px solid rgb(214, 233, 198);
            border-radius: 3px;
        }
    }

    #droptext {
        margin-top: 200px;
        text-align: center;
        width: 100%;
        a {
            font-size: 18pt;
            color: #005483;
            line-height: 10px;
            position: relative;
            z-index: 100;

            &:hover {
                text-decoration: none;
            }
        }
    }
}

#types {
    text-align: center;
    margin: 20px 0;

    li {
        width: 75px;
        padding-top: 45px;
        text-align: center;
        display: block;
        float: left;

        &.images {
            background: url('/static/home-photo.png') no-repeat 22px 0;
        }

        &.videos {
            background: url('/static/home-video.png') no-repeat 12px 0;
        }

        &.audio {
            background: url('/static/home-audio.png') no-repeat 18px 0;
        }
    }
}

.fader {
    background: linear-gradient(to top, #fff, rgba(255, 255, 255, 0));
    height: 50px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    pointer-events: none;
}

#history {
    div {
        padding-top: 14px;
    }

    ul {
        clear: both;
        list-style: none;
        height: 590px;
        margin: 0;
        overflow-y: hidden;
        padding: 5px 0 0;
        position: relative;
        text-align: center;

        .item-view {
            border: 1px solid #000;
            max-width: 250px;
        }
    }

    .album-preview {
        position: relative;
        height: 261px;
        overflow: hidden;
        margin-bottom: 10px;

        & > div {
            position: absolute;
            top: 20px;
            right: 40px;

            img, video {
                width: auto;
                max-width: 210px;
                max-height: 239px;
            }

            &:nth-of-type(3n+2) {
                top: 10px;
                left: 10px;
                right: auto;

                img, video {
                    max-width: 210px;
                    width: auto;
                }
            }

            &:nth-of-type(3n+1) {
                top: 0;
                left: 0;
                right: auto;

                img, video {
                    width: 239px;
                }
            }
        }
    }
}

/*
 * Components
 */
#beta {
    background: #1692d0;
    padding: 0 12px;
    color: #fff;
    font-weight: bold;
    font-style: italic;
    display: inline-block;
    -webkit-transform: rotate(-45deg) translate3d(0,0,0);
    transform: rotate(-45deg) translate3d(0,0,0);
    z-index: 100;
    border-radius: 2px 2px 0 0;
    text-transform: uppercase;
    position: absolute;
    top: 53px;
    left: -5px;

    &::before {
        content: '';
        width: 0;
        height: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 7px solid #073045;
        position: absolute;
        top: 22px;
        left: -22px;
    }

    &::after {
        content: '';
        width: 0;
        height: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 7px solid #073045;
        position: absolute;
        top: 22px;
        right: -22px;
    }

    span {
        &::before {
            content: '';
            width: 0;
            height: 0;
            border-bottom: 22px solid #1692d0;
            border-left: 22px solid transparent;
            position: absolute;
            left: -21px;
            top: 0px;
        }

        &::after {
            content: '';
            width: 0;
            height: 0;
            border-bottom: 22px solid #1692d0;
            border-right: 22px solid transparent;
            position: absolute;
            right: -21px;
            top: 0;
        }
    }
}

.media-preview {
    .progress {
        bottom: 0;
        position: absolute;
        width: 50%;
    }

    a.delete {
        font-size: 10pt;
        color: red;
        position: absolute;
        bottom: 3px;
        right: 3px;
        z-index: 1;

        &:hover {
            text-decoration: underline;
        }
    }

    border: 1px solid #888;
    clear: both;
    height: 112px;
    margin-bottom: 5px;
    overflow: hidden;
    position: relative;
    white-space: nowrap;

    &:last-child {
        margin-bottom: 0;
    }

    .preview {
        float: left;
        margin-right: 10px;
        min-height: 113px;
        width: 200px;

        & {
            img {
                max-height: 113px;
                max-width: 200px;
            }

            video {
                max-height: 113px;
                max-width: 200px;
            }
        }
    }

    a {
        position: relative;
        z-index: 0;

        &.full-size {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 0;
        }
    }

    .flags {
        z-index: 2;
        position: absolute;
        right: -8px;
        top: 2px;
        padding: 0 10px;
        background: #fff;

        label {
            display: block;
            text-align: right;

            input {
                float: right;
            }
        }
    }

    h2, p {
        margin: 0;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    h2, div.status {
        position: relative;
    }

    .responsive-fade {
        display: none;
    }
}

.img-wrapper {
    float: left;
    margin-right: 5px;
    min-height: 113px;
    width: 200px;

    .image-loading & {
        img {
            max-height: 113px;
            max-width: 200px;
        }

        video {
            max-height: 113px;
            max-width: 200px;
        }
    }
}

.help {
    font-size: 10pt;
    position: absolute;
    bottom: 40px;
    display: block;
    text-align: center;
    color: #08c;
    font-weight: bold;
    cursor: help;

    & > div {
        .hover {
            position: absolute;
            top: -15px;
            left: 150px;
            width: 400px;
            background: #eee;
            border: 1px solid #000;
            border-radius: 3px;
            padding: 5px;
            color: #000;
            font-weight: normal;
            opacity: 0;
            transition: linear 0.3s opacity;
        }

        &:hover .hover {
            opacity: 1;
        }
    }
}

.social {
    position: relative;
    top: 10px;
    display: block;
    width: 100%;
    text-align: center;

    a {
        display: inline-block;
        min-height: 16px;
        padding-left: 18px;
        font-size: 10pt;
        margin-left: 5px;

        &[href^="https://twitter.com"] {
            background: url("/static/twitter.png") no-repeat 0 1px;
        }

        &[href^="https://pay.reddit.com"] {
            background: url("/static/reddit.png") no-repeat 0 1px;
        }
    }
}

.konami {
    &.credit {
        text-align: center;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        font-size: 10pt;
        width: 100%;
        color: #000;

        a {
            color: #000;
            text-decoration: underline;
        }
    }

    &.icons {
        position: absolute;
        bottom: 60px;
        text-align: center;
        width: 100%;
    }

    #droparea {
        background-image: none;
        border-color: black;
    }
}

@import 'home-responsive.scss'
