/*
 * Layout
 */

.vertical-center {
    margin: 0 auto;
    width: 995px;
}

.grid {
    height: 680px;
    margin-top: -340px;
    position: absolute;
    top: 50%;
}

.content {
    padding: 10px;
    width: 270px;
}

#droparea {
    background: #fff;
    border: 1px solid #888;
    border-radius: 5px;
    box-shadow: 0 0 10px 1px #999 inset;
    overflow: hidden;
    padding: 5px;
    position: relative;
    height: 640px;
    -webkit-transition: box-shadow 0.25s linear;
    -moz-transition: box-shadow 0.25s linear;
    transition: box-shadow 0.25s linear;
    width: 590px;

    &.hover {
        box-shadow: 0 0 10px 2px rgba(82, 168, 236, 0.6) inset;
    }
}

#droptext {
    margin-top: 290px;
    text-align: center;
    width: 100%;

    #droparea.files & {
        margin-top: 5px;
    }
}

#gad {
    background-color: #ddd;
    border-radius: 5px;
    height: 643px;
    padding: 5px;
    text-align: center;
    width: 120px;

    &> div {
        width: 120px;
        height: 600px;
    }
}

#lgad {
    background: #ddd;
    border-radius: 5px;
    display: none;
    padding: 5px;
    text-align: center;
    width: 120px;
}

#history ul {
    clear: both;
    list-style: none;
    height: 575px;
    margin: 0;
    overflow-y: hidden;
    padding: 5px 0 0;
    position: relative;
    text-align: center;

    .fader {
        background: linear-gradient(to top, #fff, rgba(255, 255, 255, 0));
        height: 50px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .item-view {
        border: 1px solid #000;
        max-height: 250px;
        max-width: 250px;
    }
}

/*
 * Responsive
 */
@media (max-height: 700px) {
    .grid {
        height: 340px;
        margin-top: -190px;
    }

    #droparea {
        height: 320px;
    }

    #droptext {
        margin-top: 145px;
    }

    #gad {
        display: none;
    }

    #lgad {
        display: block;
    }

    #history ul {
        height: 250px;
    }
}

@media (max-width: 1048px) {
    .vertical-center {
        width: 705px;
    }

    #droparea {
        width: 300px !important;
    }

    .responsive-hidden {
        display: none;
    }

    .responsive-break {
        display: block;
    }
}

@media (max-width: 765px) {
    .vertical-center {
        width: 575px;
    }

    #gad, #lgad {
        display: none;
    }
}

/*
 * Components
 */
#switch-theme {
    font-size: 10pt;
    height: 0;
    display: block;
    position: relative;
    top: -20px;
}

.image-loading a.delete {
    font-size: 10pt;
    color: red;
    position: absolute;
    bottom: 3px;
    right: 3px;
}

.beta {
    background-color: #a00;
    overflow: hidden;
    position: absolute;
    left: -29px;
    top: 17px;
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg) translate3d(0,0,0);
    transform: rotate(-45deg);
    box-shadow: 0 0 1em #888;

    span {
        border: 1px solid #faa;
        color: #fff;
        display: block;
        font: bold 81.25% 'Helvetiva Neue', Helvetica, Arial, sans-serif;
        margin: 0.05em 0 0.075em 0;
        padding: 0.5em 3.5em;
        text-align: center;
        text-decoration: none;
        text-shadow: 0 0 0.5em #444;
    }
}

.image-loading {
    border: 1px solid #888;
    background: white;
    border-radius: 5px;
    clear: both;
    height: 112px;
    margin-bottom: 5px;
    overflow: hidden;
    position: relative;

    &:last-child {
        margin-bottom: 0;
    }

    a {
        position: relative;
        z-index: 1;

        &.full-size {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 0;
        }
    }

    h2, p {
        margin: 0;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.img-wrapper {
    float: left;
    margin-right: 10px;
    min-height: 113px;
    width: 200px;

    .image-loading & {
        img {
            max-height: 113px;
            max-width: 200px;
        }

        video {
            max-height: 113px;
            max-width: 200px;
        }
    }
}

#format-list {
    border-bottom: 1px dotted #000;
    position: relative;
    cursor: help;

    &:hover div {
        opacity: 0.9;
    }

    div {
        border-radius: 5px;
        background: #222;
        color: #fff;
        left: -135px;
        opacity: 0;
        padding: 5px;
        position: absolute;
        top: 32px;
        transition: opacity 1s;
        pointer-events: none;
        width: 300px;

        &:before {
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 20px solid #222;
            content: "";
            height: 0;
            width: 0;
            position: absolute;
            top: -10px;
            left: 140px;
        }

        .format-column {
            float: left;
            width: 100px;

            h3 {
                text-align: center;
                margin: 0;
            }

            ul {
                margin: 0;
                list-style: none;
                padding-left: 3px;

                li {
                    float: left;
                    padding-right: 5px;
                }
            }
        }
    }
}

a[href^="https://twitter.com"] {
    display: inline-block;
    background: url("/static/twitter.png") no-repeat;
    width: 16px;
    height: 16px;
    position: relative;
    top: 3px;
}

a[href^="https://pay.reddit.com"] {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("/static/reddit.png") no-repeat;
    position: relative;
    top: 3px;
}

a[href^="https://chrome.google.com"] {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url('/static/chrome.png') no-repeat;
    position: relative;
    top: 3px;
}

a[href^="https://addons.mozilla.org"] {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url('/static/firefox.png') no-repeat;
    position: relative;
    top: 3px;
}
