@media (max-height: 700px) {
    .grid {
        height: 340px;
        margin-top: -190px;
    }

    #drop-wrapper {
        height: 320px;

        #droparea {
            height: 320px;
            background: transparent;

            #droptext {
                margin-top: 100px;
            }

            &.files {
                #droptext {
                    margin-top: 10px;
                }
            }
        }
    }

    .types-collapse {
        display: none;
    }

    #droptext {
        margin-top: 145px;
    }

    #gad {
        display: none;
    }

    #lgad {
        display: block;
    }

    #history ul {
        height: 318px;
    }
}

@media (max-width: 1048px) {
    .vertical-center {
        width: 705px;
    }

    #drop-wrapper {
        width: 300px;

        #droparea {
            background: transparent;

            .noads & {
                width: 464px;
                background: url('/static/upload.png') transparent no-repeat 100px 220px;
            }

            #droptext a {
                font-size: 13pt;
                font-weight: bold;

                span {
                    font-weight: normal;
                }
            }

            #files ul {
                left: 75px;

                .noads & {
                    left: 20px;

                    li {
                        margin-right: 10px;
                    }
                }

                li {
                    margin-bottom: 10px;
                }
            }

            .help .hover {
                left: 0px;
                width: 290px;
                top: -30px;
            }
        }
    }

    .responsive-hidden {
        display: none;
    }

    .responsive-break {
        display: block;
    }

    .image-loading {
        .responsive-fade {
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: rgba(255, 255, 255, 0.75);
        }

        .img-wrapper {
            width: 20px;
        }
    }


    .container {
        width: 764px;
    }
}

@media (max-width: 771px) {
    .vertical-center {
        width: 575px;
    }

    #gad, #lgad {
        display: none;
    }

    .container {
        width: 634px;
    }

    .social {
        display: none;
    }
}
