.player.video {
    position: relative;

    video {
    }

    .controls {
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        height: 22px;
        //opacity: 0;
        transition: opacity linear 0.2s;
        background: rgba(0, 0, 0, 0.6);
        padding: 2px;

        & > * {
            display: inline-block;
        }

        a {
            color: #fff;
        }

        .seek {
            position: absolute;
            left: 27px;
            right: 55px;
            top: 0;
            bottom: 0;

            div {
                position: absolute;
                top: 11px;
                left: 0;
                height: 4px;

                &.loaded {
                    background: rgb(0, 136, 204);
                    height: 2px;
                    top: 13px;
                    width: 80%;
                }

                &.played {
                    background: #fff;
                    width: 40%;

                    &::after {
                        font-family: "Batch";
                        line-height: 1;
                        display: inline-block;
                        font-size: 16px;
                        content: '\F16B';
                        color: #fff;
                        position: absolute;
                        right: -7px;
                        top: -7px;
                    }
                }

                &.background {
                    background: rgba(0, 0, 0, 0.5);
                    width: 100%;
                }

                &.clickable {
                    top: 5px;
                    left: 0;
                    right: 0;
                    bottom: 5px;
                    height: auto;
                    cursor: pointer;
                }
            }
        }

        .icon {
            color: #fff;
            font-size: 22px;
            font-weight: normal;
            cursor: pointer;

            &.fullscreen { // Gets special styles
                font-size: 20px;
                position: relative;
                top: -1px;

                &::before {
                    content: '\F0A6';
                }

                &.disabled::before {
                    color: #fff;
                    content: '\F0A4';
                }
            }

            &.disabled {
                color: #aaa;
            }
        }

        .right {
            float: right;
        }

        .toggleable {
            position: relative;

            &.settings > div {
                width: 120px;
            }
            
            &.volume > div {
                width: 25px;
                height: 100px;
            }

            & > div {
                opacity: 0;
                pointer-events: none;
                transition: opacity 0.2s linear;
                background: rgba(0, 0, 0, 0.8);
                position: absolute;
                right: 2px;
                bottom: 27px;
                font-size: 10pt;
                text-align: right;

                div {
                    padding: 2px 0;
                    
                    &:hover {
                        background: rgba(0, 0, 0, 1);
                    }

                    a {
                        .icon {
                            position: relative;
                            font-size: 16px;
                            top: 1px;
                            padding: 0 3px;
                        }
                    }
                }
            }

            &:hover {
                div {
                    opacity: 1;
                    pointer-events: auto;
                }
            }
        }
    }

    &:hover {
        .controls {
            opacity: 1;
        }
    }
}
