@import 'stylesheet.scss'

.left {
    float: left;
    padding-left: 5px;
}

.right {
    float: right;
    padding-right: 5px;
}

.item {
    max-width: 1000px;
}

audio {
    width: 1000px;
    padding-top: 23px;
}

#items {
    text-align: center;
}

.missing-item {
    width: 500px;
    height: 150px;
    background: url('/static/placeholder.png') no-repeat;
    margin: 10px auto;
    padding-top: 150px;
}

.item-wrapper {
    a {
        color: #fff;

        &:hover {
            text-decoration: underline;
        }

        &.red {
            color: #940000;
        }
    }

    div {
        display: inline-block;
        min-width: 100px;
        overflow: hidden;
        position: relative;
    }

    .album-preview {
        position: relative;
        width: 500px;
        height: 496px;
        overflow: hidden;
        margin-bottom: 10px;

        & > div {
            position: absolute;
            top: 40px;
            right: 60px;

            img, video {
                width: auto;
                max-width: 450px;
                max-height: 430px;
                border: 1px solid #000;
            }

            &:nth-of-type(3n+2) {
                top: 20px;
                left: 20px;
                right: auto;

                img, video {
                    max-width: 470px;
                    width: auto;
                }
            }

            &:nth-of-type(3n+1) {
                top: 0;
                left: 0;
                right: auto;

                img, video {
                    max-width: 470px;
                    width: 450px;
                }
            }
        }
    }

    .bar {
        background: rgba(111, 111, 111, 0.8);
        color: #fff;
        height: 23px;
        position: absolute;
        left: 0;
        right: 0;
        top: -23px;
        transition: top 0.15s linear;
    }

    div:hover .bar {
        top: 0;
    }
}

.pagination {
    font-size: 14pt;
    list-style: none;
    text-align: center;

    li {
        border: 1px solid #ccc;
        border-right: none;
        display: inline-block;
        min-width: 34px;
        position: relative;
        left: -15px;

        &:first-child {
            border-radius: 3px 0 0 3px;
        }

        &:last-child {
            border-right: 1px solid #ccc;
            border-radius: 0 3px 3px 0;
        }

        &.selected a {
            color: black;
        }

        &:hover, &.selected {
            background: #eee;
        }

        &.smart-pagination:hover {
            background: white;
        }
    }

    a, span {
        padding: 0 5px;
        font-weight: bold;
    }

    a:hover {
        text-decoration: none;
    }
}
