body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.navigation {
    font-size: 12pt;

    .brand {
        display: inline;
        float: left;
        margin: 0 0 10px;
        padding-left: 10px;
        position: relative;
        font-size: 18pt;

        a {
            color: #000;
            text-decoration: none;
        }

        img {
            float: left;
            margin: 5px 3px 0 0;
        }
    }
}

.content {
    clear: both;
}

.padded {
    margin: 0 5px;
}

#blurb {
    margin: 0 5px;
}

.beta {
    background-color: #a00;
    overflow: hidden;
    position: absolute;
    right: -30px;
    top: 14px;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -moz-box-shadow: 0 0 1em #888;
    -webkit-box-shadow: 0 0 1em #888;
    box-shadow: 0 0 1em #888;
}

.beta span {
    border: 1px solid #faa;
    color: #fff;
    display: block;
    font: bold 81.25% 'Helvetiva Neue', Helvetica, Arial, sans-serif;
    margin: 0.05em 0 0.075em 0;
    padding: 0.5em 3.5em;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 0.5em #444;
}

.button {
    padding: 5px;
    background: #428bca;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

.button:active {
    background-color: #005580;
    box-shadow: 0 0 4px 4px #333 inset;
}

#upload {
    display: block;
    height: 40px;
    line-height: 40px;
}

.hidden {
    display: none;
}

.history-item {
    display: block;
    margin: 5px;
    border: 1px solid #000;
}

.history-item img {
    display: block;
    width: 100%;
}

.image-loading {
    clear: both;
    border-top: 1px solid #888;
    background: white;
    height: 68px;
    overflow: hidden;
    position: relative;
}

.image-loading:last-child {
    border-bottom: 1px solid #888;
}

.image-loading h3, .image-loading p {
    margin-top: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.image-loading a {
    position: relative;
    z-index: 1;
}

.image-loading a.full-size {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.img-wrapper {
    float: left;
    width: 120px;
    margin-right: 10px;
    min-height: 68px;
}

.image-loading .img-wrapper img {
    max-width: 120px;
    max-height: 68px;
}

.image-loading .img-wrapper video {
    max-width: 120px;
    max-height: 68px;
}

.bold {
    font-weight: bold;
}

.progress {
    height: 8px;
    width: 50%;
    position: absolute;
    bottom: 0;
    background-color: #149bdf;
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 40px 40px;
    -webkit-animation: progressbar 1s linear infinite;
    animation: progressbar 1s linear infinite;
}

.progress-green {
    background-color: #5eb95e;
}

@-webkit-keyframes progressbar {
    from {
        background-position: 0px;
    }
    to {
        background-position: 39px;
    }
}

@keyframes progressbar {
    from {
        background-position: 0px;
    }
    to {
        background-position: 39px;
    }
}

.navigation ul {
    list-style: none;

    li {
        display: inline;
        a {
            line-height: 35px;
            margin-left: 15px;
            text-decoration: none;
        }
    }
}

.clearfix {
    clear: both;
}

.center {
    text-align: center;
}

.small {
    font-size: 10pt;
}

ul.inline {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
        display: inline;
        padding: 0 5px;
    }

    a {
        text-decoration: none;
    }
}

.content {
    padding: 5px;
}

#feedback {
    display: none;
}
