@import 'feedback.scss'
@font-face{
    font-family: Batch;
    src: url('/static/batch.eot');
    src: url('/static/batch.eot?#iefix') format('embedded-opentype'),
         url('/static/batch.woff') format('woff'),
         url('/static/batch.ttf') format('truetype'),
         url('/static/batch.svg#batchregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(/static/OpenSans.woff) format('woff');
}

.icon {
    font-family: "Batch";
    line-height: 1;
    display: inline-block;
    font-size: 16px;
    font-weight: normal;

    &.icon-32 {
        font-size: 32px;
    }

    &.icon-64 {
        font-size: 64px;
    }

    &.icon-128 {
        font-size: 128px;
    }

    &::before {
        content: attr(data-icon);
    }
}

/*
 * Element styles and UI components
 */
body {
    font-family: "Open Sans", sans-serif;
}

.brand {
    font-size: 18pt;

    a {
        color: #000;

        &:hover {
            color: #000;
            text-decoration: none;
        }
    }

    img {
        float: left;
        margin: 0 3px 0 0;
    }
}

.navigation {
    font-size: 12pt;

    .brand {
        display: inline;
        float: left;
        margin: 0 0 10px;
        position: relative;

        img {
            margin: 5px 3px 0 0;
        }
    }

    ul {
        display: inline;
        float: left;
        list-style: none;
        margin: 7px 0 0 0;
        padding-left: 10px;

        li {
            display: inline;
            float: left;
            margin: 0 10px;
        }
    }

    .small {
        margin-top: 5px;
    }
}

ul.inline {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
        display: inline;
        padding: 0 5px;
    }
}

.content {
    clear: both;
}

.narrow {
    width: 270px;
    padding: 0 25px;
    padding: 0 5px;
}

.dialog {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(50, 50, 50, 0.75);

    & > div {
        width: 500px;
        height: 150px;
        top: 20px;
        position: relative;
        background: #fff;
        margin: 0 auto;
        padding: 5px;

        h2 {
            margin: 0;
        }

        .buttons {
            position: absolute;
            right: 5px;
            bottom: 5px;

            button {
                color: #fff;
                border: none;
                width: 75px;
                height: 30px;
                cursor: pointer;
                outline: none;
                &::-moz-focus-inner {
                    border: none; // Firefox can be a pain in the ass sometimes
                }

                &:focus, &:hover {
                    box-shadow: 1px 1px 2px #888;
                }

                &.yes {
                    background: #07C;

                    &:hover, &:active {
                        background: #009;
                    }
                }

                &.no {
                    background: #fff;
                    color: #000;
                    border: 2px solid #888;

                    &:hover {
                        background: #eee;
                    }
                }
            }
        }
    }
}

a {
    font-weight: bold;
    color: #08c;
    text-decoration: none;

    &:hover {
        color: #005580;
    }

    &.red {
        color: red;

        &:hover {
            text-decoration: underline;
        }
    }
}

.red {
    color: red;
}

h4 {
    margin: 0;
}

audio {
    width: 100%;
}

pre {
    padding: 10px;
    display: block;
    border: 1px solid #ddd;
    background: #f8f8f8;
    color: #666;
    border-radius: 5px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;

    tr:first-child th, tr:first-child td {
        border-top: none;
    }

    th, td {
        border-top: 1px solid #ddd;
        padding: 8px;
    }
}

.container {
    width: 1000px;
    margin: 0 auto;
    text-align: justify;
    position: relative;
}

.clearfix {
    clear: both;
}

.center {
    text-align: center;
}

.small {
    font-size: 10pt;
}

.error {
    font-size: 10pt;
}

.hidden {
    display: none !important;
}

.psuedohidden {
    display: inline-block;
    position: absolute;
    left: -1000px;
    top: -1000px;
}

/**
 * Grid
 */
.grid {
    .column {
        float: left;
    }
}

.fixedgrid .column {
    float: left;
    width: 333px;
}

/**
 * Progress bars
 */

.progress {
    -webkit-animation: progressbar 1s linear infinite;
    animation: progressbar 1s linear infinite;
    background-color: #149bdf;
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 40px 40px;
    height: 8px;

    &.progress-stalled {
        background-image: none;
    }

    &.progress-grey {
        background-color: #888;
    }

    &.progress-green {
        background-color: #5eb95e;
    }

    &.progress-red {
        background-color: #ff0000;
    }

    &.small-centered {
        width: 300px;
        margin: 0 auto;
    }
}

@-webkit-keyframes progressbar {
    from {
        background-position: 0px 0px;
    }
    to {
        background-position: 39px 0px;
    }
}

@keyframes progressbar {
    from {
        background-position: 0px 0px;
    }
    to {
        background-position: 39px 0px;
    }
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

img.centered {
    margin: 0 auto;
    display: block;
}

.bold {
    font-weight: bold;
}

label.checkbox {
    cursor: pointer;

    input {
        cursor: pointer;
    }
}

.hidden-if-noscript {
    display: none;
}

.blog-link {
    border: 1px solid #
}

.advertisement {
    .small {
        margin: 0;
    }

    table {
        margin: 0 auto;
    }

    margin-top: 10px;
}
