@media (max-width: 1000px) {
    .container {
        width: 700px;
    }

    .media-wrapper .media {
        img, video {
            max-width: 700px;
        }
    }
}

@media (max-width: 700px) {
    .container {
        width: 500px;

        .navigation ul {
            display: none;
        }
    }

    .media-wrapper .media {
        img, video {
            max-width: 500px;
        }
    }
}
