@import 'mobile.scss'

.media video, .media img, .media audio {
    width: 96%;
    margin-left: 2%;
}

.media-select {
    margin-bottom: 40px !important;
}

h2.album {
    margin: 0;
    padding: 0;
}
